<script>
    import {linkRegex} from '../../Classes/DefaultData';

    export default {
        name: 'LinkedMessage',
        render(createElement) {
            const children = [];
            const messageArr = this.message.split(" ");
            messageArr.forEach((s, index) => {
                (s.match(linkRegex)) ? children.push(createElement('a', { attrs: { class: 'link', href: s, target: '_blank',}}, s.replace(/(^\w+:|^)\/\//, '')))
                    : children.push(s);
                if(!(messageArr.length - 1 === index)){
                    children.push(" ");
                }
            });
            return createElement('span', children)
        },
        props: {
            message: {
                required: true,
                type: String,
            },
        },
    }
</script>

<style scoped lang="scss">

    .link{
        color: inherit;
        text-decoration: none;
        padding: 2px 4px;
        border-radius: .4em;
        transition: .4s;
        background: rgba(0,0,0, .08);
        &:hover{
            background: rgba(0,0,0, .12);
        }
    }

    .dark{
        .link{
            background: rgba(255,255,255, .18);
            &:hover{
                background: rgba(255,255,255, .36);
            }
        }

    }
</style>
