<template>
    <div class="message__body background one" :class="{'primary dark-secondary yours': message.userId === user.uid}">
        <LinkedMessage :message="message.message"/>
        <div class="message__time text muted">
            <span>
                {{new Date(message.sent).toLocaleTimeString('en-GB', {hour: '2-digit', minute:'2-digit'})}}
            </span>
            <span v-if="message.is_sent === false && !message.failed">
                <font-awesome-icon :icon="['fas', 'clock']"/>
            </span>
        </div>
        <div class="failed" v-if="message.failed" @click="retry">
            Failed to sent. Click to Retry.
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import LinkedMessage from './LinkedMessage';

    export default {
        name: 'Message',
        components: {LinkedMessage},
        props: {
            message: Object,
        },
        computed: {
            ...mapState(['user']),
        },
        created() {
            if (this.message.is_sent === false) {
                this.$eventBus.$on('sent-message' + this.message.sent, (id) => {
                    this.message.is_sent = true;
                    this.message.id = id;
                });
                this.$eventBus.$on('failed-message' + this.message.sent, () => {
                    this.message.failed = true;
                });
            }
        },
        methods: {
            retry() {
                this.message.failed = false;
                this.$apiService.sendMessage(this.message.sitId, {message: this.message.message}).then((res) => {
                    this.message.id = res.id;
                    this.message.is_sent = true;
                    this.$socket.emit('send-message', {chatId: this.message.sitId, message: this.message});
                }).catch(() => {
                    this.message.failed = true;
                })
            },
        },
    }
</script>

<style scoped lang="scss">
    @import "../../css/variables";
    @import "../../css/components/text";

    .message__body {
        word-break: break-all;
        max-width: 500px;
        position: relative;
        display: table;
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 16px;
        padding: 10px 12px;
        box-shadow: $shadow-light;
        user-select: text;
        cursor: default;
        border-radius: 16px 16px 16px 4px;

        &.consecutive {
            margin-top: 4px;
            border-radius: 4px 16px 16px 4px;

            &.yours {
                border-radius: 16px 4px 4px 16px;
            }

            .message__date {
                display: none;
            }
        }

        &.yours {
            border-radius: 16px 16px 4px 16px;
            margin-left: auto;
            box-shadow: none;
        }

        .message__time {
            font-size: 12px;
            float: right;
            margin: 6px 0 0 16px;
        }

        .failed {
            font-weight: bold;
            text-align: right;
            font-size: 12px;
            display: block;
            margin-top: 4px;
            cursor: pointer;
        }
    }

    .dark {
        .message__body.background.one {
            &:not(.yours) {
                background: $background-dark-1;
            }
        }
    }
</style>
