<template>
    <InfiniteScroll class="messages no_scrollbar" ref="messages" :empty="messages.length === 0" :callback="loadData"
                    :do-start-call="false" :activateBottom="false" :scroll-to="true">
        <template v-slot:scroll>
            <div class="messages__messages" v-for="(message, index) in messages">
                <div class="date background two" v-if="showDate(message, index)">{{new
                    Date(message.sent).toLocaleDateString($i18n.locale,{year: 'numeric', month: 'long', day:
                    'numeric'})}}
                </div>
                <Message :class="{ consecutive: consecutive(message, index) }" :message="message"/>
            </div>
        </template>
        <template v-slot:loader>
            <Loader/>
        </template>
        <template v-slot:empty>
            <div class="no-messages">
                <Empty :text="'No Messages Yet, Start The Conversation!'" :max-width="200"/>
            </div>
        </template>
    </InfiniteScroll>
</template>

<script>
    import Empty from '../Empty';
    import Message from './Message';
    import Loader from '../Loader';
    import InfiniteScroll from '../InfiniteScroll';

    export default {
        name: 'MessagesContainer',
        components: {
            InfiniteScroll,
            Loader,
            Message,
            Empty,
        },
        sockets: {
            message: function (message) {
                this.messages.push(message);
                this.$toasters['main'].success(`New message: ${message.message.substring(0, 5)}...`, 10000);
            },
        },
        data() {
            return {
                messages: [],
                scroll: null,
            };
        },
        methods: {
            loadData(page) {
                return new Promise((resolve, reject) => {
                    this.$apiService.GetChat(this.sitId, page).then((res) => {
                        if (res.length > 0) {
                            this.messages.unshift(...res.reverse());
                            resolve();
                        }
                    }).catch(() => {
                        this.$toasters['main'].error('Could not get messages');
                    }).finally(() => {
                        reject();
                    });
                });
            },
            showDate(message, index) {
                if (index === 0) {
                    return true;
                } else {
                    return new Date(this.messages[index - 1].sent).toLocaleDateString() !== new Date(message.sent).toLocaleDateString();
                }
            },
            consecutive(message, index) {
                if (index === 0 || this.messages.length + 1 === index) {
                    return false;
                } else {
                    return this.messages[index - 1].userId === message.userId && !this.showDate(message, index);
                }
            },
            scrollDown() {
                this.$refs.messages.$el.scrollTop = this.$refs.messages.$el.scrollHeight;
            },
            init() {
                this.messages = [];
                this.$nextTick(() => {
                    this.$refs.messages.refresh().then(() => {
                        this.scrollDown();
                    });
                });
            },
        },
        activated() {
            this.$refs.messages.$el.scrollTop = this.scroll;
        },
        deactivated() {
            this.scroll = this.$refs.messages.$el.scrollTop;
        },
        props: {
            sitId: String,
        },
        watch: {
            sitId: {
                handler: 'init',
                immediate: true,
            },
        },
        created() {
            this.$eventBus.$on('message', (m) => {
                this.messages.push(m);
                this.$nextTick(() => this.scrollDown(), 0);
            });
        },
        beforeDestroy() {
            this.$eventBus.$off('message');
        }
    };
</script>

<style scoped lang="scss">
    @import "../../css/components/background";

    .messages {
        height: 100%;
        overflow-y: auto;

        .no-messages {
            margin-top: 32px;
        }

        .messages__messages {
            position: relative;


            &:last-of-type {
                margin-bottom: 16px;
            }

            .date {
                padding: 8px 24px;
                border-radius: 70px;
                margin: 18px auto;
                display: table;
                text-align: center;
            }
        }
    }


</style>
