<template>
    <div class="messages">
        <MessagesContainer :sitId="data.sitId"/>
        <SendMessage :sitId="data.sitId"/>
    </div>
</template>

<script>
    import MessagesContainer from './MessagesContainer';
    import SendMessage from './SendMessage';

    export default {
        name: 'Messages',
        components: {
            SendMessage,
            MessagesContainer,
        },
        props: {
            data: Object,
        },
    };
</script>


<style scoped lang="scss">
    @import "../../css/components/background";

    .messages {
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        height: 100%;
        overflow-y: auto;

        .no-messages {
            margin-top: 32px;
        }

        .messages__messages {
            position: relative;


            &:last-of-type {
                margin-bottom: 16px;
            }

            .date {
                padding: 8px 24px;
                border-radius: 70px;
                margin: 18px auto;
                display: table;
                text-align: center;
            }
        }
    }


</style>
