<template>
    <div class="options_select">
        <Dropdown>
            <template v-slot:dropdown_activator>
                <div class="select__selected">
                    <slot :selected="options.find((o) => o.selected).option"/>
                </div>
            </template>
            <template v-slot:dropdown>
                <div class="dropdown">
                    <div class="option" v-for="option in options.filter((o) => !o.selected)" @click="select(option)">
                        {{option.option}}
                    </div>
                </div>
            </template>
        </Dropdown>
    </div>
</template>

<script>
    import Dropdown from '../Dropdown';

    export default {
        name: 'OptionsSelect',
        components: {Dropdown},
        props: {
            options: Array,
        },
        methods: {
            select(option) {
                this.options.forEach((o) => o.selected = false);
                option.selected = true;
                this.$emit('selected', option.option)
            },
        },

    }
</script>

<style scoped lang="scss">
    @import '../../css/variables';

    .options_select {
        position: relative;

        .dropdown {
            left: 0;
        }
    }
</style>
