<template>
    <div class="plan">
        <Loader v-if="loading" :scale=".5"/>
        <template v-else>
            <div class="info__status" :class="{active: plan.accepted}">
                <div class="update_status" @click="updateStatus"
                     v-if="user.uid !== plan.creatorId && new Date(plan.numericDate) > new Date()">
                    <font-awesome-icon v-if="!plan.accepted" :icon="['fas', 'minus-circle']"/>
                    <font-awesome-icon v-else :icon="['fas', 'check-circle']"/>
                </div>
            </div>
            <div class="info__body">
             <span class="info__date">
                {{new Date(plan.numericDate).toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })}}
                 <span class="yourRating" v-if="yourRating">
                     <font-awesome-icon :icon="['fas','frown']" v-if="!yourRating.rating"/>
                     <font-awesome-icon :icon="['fas','laugh-beam']" v-else/>
                 </span>
            </span>
                <div class="info__whos">
                    {{(user.uid === plan.creatorId ? 'Your Request' : 'Requested to you')}}
                </div>
                <div class="actions" v-if="new Date(plan.numericDate) < new Date()">
                    <Loader v-if="ratingLoading" :scale=".4"/>
                    <div class="actions" v-else-if="plan.accepted">
                        <div class="add" v-if="!myRating">
                            <div class="action" @click="rate(false)">
                                <font-awesome-icon :icon="['fas','frown']"/>
                            </div>
                            <div class="action" @click="rate(true)">
                                <font-awesome-icon :icon="['fas','laugh-beam']"/>
                            </div>
                        </div>
                        <div class="update" v-else>
                            <div class="action" :class="{active: !myRating.rating}" @click="updateRating(false)">
                                <font-awesome-icon :icon="['fas','frown']"/>
                            </div>
                            <div class="action" :class="{active: myRating.rating}" @click="updateRating(true)">
                                <font-awesome-icon :icon="['fas','laugh-beam']"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </template>
        <div class="plan__delete" @click="deletePlan">
            <font-awesome-icon :icon="['fas', 'trash-alt']"/>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import Loader from '../Loader';
    import PlanEvents from '../../mixins/PlanEvents';

    export default {
        name: 'Plan',
        components: {Loader},
        mixins: [PlanEvents],
        props: {
            plan: Object,
        },
        computed: {
            ...mapState(['user']),
            myRating() {
                if (!this.plan.ratings) {
                    return null
                }
                return this.plan.ratings.find((s) => s.userId === this.user.uid)
            },
            yourRating() {
                if (!this.plan.ratings) {
                    return null
                }
                return this.plan.ratings.find((s) => s.userId !== this.user.uid)
            }
        },
        data() {
            return {
                loading: false,
                ratingLoading: false,
            }
        },
        methods: {
            updateRating(rating) {
                this.ratingLoading = true;
                if (this.myRating.rating === rating) {
                    this.$apiService.deleteRating(this.myRating.id).then(() => {
                        this.$eventBus.$emit(`delete-rating${this.myRating.id}`);
                        this.$socket.emit('plan-delete-rating', this.myRating);
                        this.plan.ratings.splice(this.plan.ratings.findIndex((r) => r.id === this.myRating.id), 1);
                        this.$toasters['main'].success('Removed rating');
                    }).catch(() => {
                        this.$toasters['main'].error('Could not remove rating');
                    }).finally(() => {
                        this.ratingLoading = false;
                    });
                } else {
                    this.$apiService.updateRating(this.myRating.id, {rating: rating}).then(() => {
                        this.myRating.rating = rating;
                        this.$eventBus.$emit(`update-rating${this.myRating.id}`, rating);
                        this.$socket.emit('plan-update-rating', this.myRating);
                        this.$toasters['main'].success('Updated rating');
                    }).catch(() => {
                        this.$toasters['main'].error('Could not update rating');
                    }).finally(() => {
                        this.ratingLoading = false;
                    });
                }
            },
            rate(rating) {
                this.ratingLoading = true;
                this.$apiService.ratePlan(this.plan.id, {rating: rating}).then((rat) => {
                    this.$eventBus.$emit(`add_rating${rat.planId}`, rat);
                    this.$socket.emit('plan-add-rating', rat);
                    this.$toasters['main'].success('Added rating');
                }).catch(() => {
                    this.$toasters['main'].error('Could not add rating');
                }).finally(() => {
                    this.ratingLoading = false;
                });
            },
            updateStatus() {
                this.loading = true;
                this.$apiService.togglePlan(this.plan.id).then(() => {
                    this.plan.accepted = !this.plan.accepted;
                    this.$eventBus.$emit('toggle-plan', this.plan.id);
                    this.$socket.emit('toggle-plan', {id: this.plan.id, sitId: this.plan.sitId});
                }).catch(() => {
                    this.$toasters['main'].error('Could not update plan');
                }).finally(() => {
                    this.loading = false;
                });
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";
    @import "../../css/components/button";
    @import "../../css/components/background";

    .plan {
        position: relative;
        flex-basis: 250px;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        background: $background-light;
        box-shadow: $shadow-light;
        border-radius: $border-radius-1;
        padding: 20px 24px;
        margin: 8px;

        .actions {
            .add, .update {
                display: flex;

                .action {
                    font-size: 20px;
                    cursor: pointer;
                    margin-right: 8px;
                    transition: .4s;
                    opacity: .5;

                    &:hover {
                        opacity: .7;
                    }

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }


        .info__status {
            $size: 44px;
            width: $size;
            height: $size;
            background: $primary-red-gradient;
            border-radius: 50%;
            margin-right: 16px;
            line-height: $size;
            text-align: center;
            align-self: center;


            .update_status {
                color: white;
                font-size: 24px;
                cursor: pointer;

            }

            &.active {
                background: $primary-gradient;
            }
        }

        .info__body {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .info__date {
                font-weight: bold;
                display: flex;
                flex-direction: row;

                .yourRating {
                    font-size: 18px;
                    display: flex;
                    flex-direction: row;

                    &::before {
                        $size: 4px;
                        content: "";
                        align-self: center;
                        margin: 0 8px 0 6px;
                        width: $size;
                        height: $size;
                        border-radius: 50%;
                        background: black;
                    }
                }
            }

            .info__whos {
                color: $color-light-2;
            }
        }

        .plan__delete {
            display: none;
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
        }

        &:hover {
            .plan__delete {
                display: block;
            }
        }
    }

    .dark {
        .plan {
            background: $background-dark-1;
            box-shadow: $shadow-dark;

            .info__body {
                .info__whos {
                    color: $color-dark-1;
                }

                .info__date {
                    .yourRating {
                        &::before {
                            background: white;
                        }
                    }
                }
            }

            .info__status {
                .update_status {
                    color: $color-light-2;
                }
            }
        }
    }

    @media all and (max-width: 1000px) {
        .plan {
            .plan__delete {
                display: block;
            }
        }
    }

</style>
