<template>
    <div class="plans chat-plans">
        <div class="loader_container" v-if="loaders.loading">
            <Loader/>
        </div>
        <template v-else>
            <div class="plans__content">
                <div class="plans_menu">
                    <OptionsSelect :options="status_options" @selected="value => select(value, status_options)">
                        <template scope="{selected}">
                            <span class="menu__item">{{selected}}</span>
                        </template>
                    </OptionsSelect>
                    <OptionsSelect :options="from_options" @selected="value => select(value, from_options)">
                        <template scope="{selected}">
                            <span class="menu__item">{{selected}}</span>
                        </template>
                    </OptionsSelect>
                    <OptionsSelect :options="order_options" @selected="value => select(value, order_options)">
                        <template scope="{selected}">
                            <span class="menu__item">{{selected}}</span>
                        </template>
                    </OptionsSelect>
                    <div class="menu__item_add_plan">
                        <div class="menu__item_button" @click="openPicker">
                            <font-awesome-icon :icon="['fas', 'plus']"/>
                        </div>
                        <Datepicker ref="programaticOpen" @selected="date => plan(date)"
                                    :disabled-dates="{to: new Date()}"/>
                    </div>
                </div>
                <div class="no-plans" v-if="filteredPlans.length === 0">
                    <Empty :inline="true" :text="'No Plans Yet!'" :max-width="100"/>
                </div>
                <transition-group mode="in-out" name="fade" tag="div" class="plans__plans no_scrollbar" id="content"
                                  v-else>
                    <Plan v-for="plan in filteredPlans" :plan="plan" :key="plan.id"/>
                </transition-group>
            </div>
        </template>
    </div>
</template>

<script>
    import Plan from './Plan';
    import {mapState} from 'vuex';
    import Empty from '../Empty';
    import Loader from '../Loader';
    import OptionsSelect from './OptionsSelect';
    import Datepicker from 'vuejs-datepicker';

    export default {
        name: 'Plans',
        components: {
            Loader,
            Plan, Empty, OptionsSelect, Datepicker
        },
        props: {
            data: Object,
        },
        methods: {
            openPicker() {
                this.$refs.programaticOpen.showCalendar();
            },
            plan(date) {
                this.$apiService.addPlan(this.data.sitId, {date: date}).then((res) => {
                    this.plans.push(res);
                    this.$eventBus.$emit('add_plan', res);
                    this.$socket.emit('add-plan', res);
                });
            },
            select(option, arr) {
                arr.forEach((o) => o.selected = false);
                arr.find((o) => o.option === option).selected = true;
            },
            getData() {
                this.loaders.loading = true;
                this.$apiService.getSitPlans(this.data.sitId).then((res) => {
                    this.plans = res;
                }).catch(() => {
                    this.$toasters['main'].error('Could not get plans');
                }).finally(() => {
                    this.loaders.loading = false;
                })
            },
            applyStatusFilter(arr) {
                switch (this.status_options.find((o) => o.selected).option) {
                    case "Accepted":
                        return arr.filter((a) => a.accepted);
                    case "Open":
                        return arr.filter((a) => !a.accepted);
                    default:
                        return arr;
                }
            },
            applyFromFilter(arr) {
                switch (this.from_options.find((o) => o.selected).option) {
                    case "Your requests":
                        return arr.filter((a) => this.user.uid === a.creatorId);
                    case "Requested to you":
                        return arr.filter((a) => this.user.uid !== a.creatorId);
                    default:
                        return arr;
                }
            },
            applyOrderFilter(arr) {
                switch (this.order_options.find((o) => o.selected).option) {
                    case "Ascending":
                        return arr.sort((a, b) => new Date(a.numericDate) - new Date(b.numericDate));
                    default:
                        return arr.sort((a, b) => new Date(b.numericDate) - new Date(a.numericDate));
                }
            }
        },
        computed: {
            ...mapState(['user']),
            filteredPlans() {
                return this.applyOrderFilter(this.applyStatusFilter(this.applyFromFilter(this.plans)));
            },
        },
        data() {
            return {
                loaders: {
                    loading: true,
                },
                canLeft: false,
                canRight: true,
                scrollPercentage: 1,
                plans: [],
                status_options: [
                    {
                        option: 'All',
                        selected: true,
                    }, {
                        option: 'Accepted',
                        selected: false,
                    }, {
                        option: 'Open',
                        selected: false,
                    },
                ],
                from_options: [{
                    option: 'All',
                    selected: true,
                }, {
                    option: 'Your requests',
                    selected: false,
                }, {
                    option: 'Requested to you',
                    selected: false,
                },
                ],
                order_options: [{
                    option: 'Descending',
                    selected: true,
                }, {
                    option: 'Ascending',
                    selected: false,
                },
                ],
            };
        },
        created() {
            this.$eventBus.$on(`add_plan${this.data.sitId}`, (plan) => {
                this.plans.push(plan);
            });
            this.$eventBus.$on('remove_plan', (planId) => {
                if (this.plans.findIndex((p) => p.id == planId) > -1) {
                    this.plans.splice(this.plans.findIndex((p) => p.id === planId), 1);
                }
            });
        },
        watch: {
            data: {
                handler: 'getData',
                immediate: true,
            },
        },
    };
</script>


<style scoped lang="scss">
    @import "../../css/variables";

    .plans {
        margin: 12px 16px 0 16px;
        max-width: 1400px;
        align-self: center;
        height: 100%;
        overflow: auto;
        width: 100%;

        .no-plans {
            padding: 8px 0;
        }

        .plans__content {
            padding: 16px;
            position: relative;

            .plans_menu {
                background: $background-light;
                display: flex;
                box-shadow: $shadow-light;
                margin-bottom: 16px;
                border-radius: $border-radius-1;
                padding: 8px;
                align-items: center;
                justify-content: center;

                .menu__item {
                    margin: 0 4px;
                    font-weight: bold;
                    cursor: pointer;
                    display: block;
                    transition: .4s;
                    border-radius: 70px;
                    padding: 8px 12px;

                    &:hover {
                        background: $primary-inactive;
                    }
                }

                .menu__item_add_plan {

                    display: block;
                    margin-left: auto;


                    .menu__item_button {
                        $size: 36px;
                        width: $size;
                        height: $size;
                        line-height: $size;
                        text-align: center;
                        transition: .4s;
                        border-radius: 70px;
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            background: rgba(0, 0, 0, .12);
                        }
                    }
                }
            }

            .plans__plans {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }

    .dark {
        .plans {
            .plans__content {
                .plans_menu {
                    background: $background-dark-1;
                    box-shadow: $shadow-dark;

                    .menu__item {
                        color: $color-dark;
                    }
                }
            }
        }
    }
</style>
