<template>
    <div class='message_input background one'>
        <div class='message_input__body'>
            <input type='text' v-model="message" :placeholder="$t('chat.message') + '...'"
                   @keypress.enter="sendMessage"/>
            <a class='message_input__send button main bold' @click="sendMessage">
                <font-awesome-icon :icon="['fas', 'paper-plane']"/>
            </a>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: 'SendMessage',
        props: {
            sitId: String,
        },
        data() {
            return {
                message: '',
            };
        },
        methods: {
            sendMessage() {
                if (this.message.length > 0) {
                    const new_message = this.message;
                    this.message = '';
                    let message = {
                        message: new_message,
                        sitId: this.sitId,
                        sent: new Date(),
                        userId: this.user.uid,
                        id: null,
                        failed: false,
                        is_sent: false,
                    };
                    this.$eventBus.$emit('message', message);
                    this.$apiService.sendMessage(this.sitId, {message: new_message}).then((res) => {
                        this.$eventBus.$emit('sent-message' + message.sent, res.id);
                        this.$socket.emit('send-message', {chatId: this.sitId, message: res});
                    }).catch(() => {
                        this.$eventBus.$emit('failed-message' + message.sent);
                    });
                }
            },
        },
        computed: {
            ...mapState(['user']),
        }
    }
</script>

<style scoped lang="scss">
    @import '../../css/variables';
    @import '../../css/components/button';

    .message_input {
        flex-grow: 1;
        padding: 16px;

        .message_input__body {
            border-radius: 70px;
            padding: 8px 24px;
            display: flex;
            background: $background-light-1;
        }

        input {
            border: 0;
            background: transparent;
            font-weight: bold;
            font-size: 14px;
            flex-grow: 1;
            min-width: 10px;
            margin-right: 8px;
        }
    }

    .dark {
        .chat {
            .message_input {
                .message_input__body {
                    background: $background-dark-2;

                    input {
                        color: $color-dark-2;
                    }
                }

            }
        }
    }
</style>
