<template>
    <Navbar :loading="loading">
        <template>
            <div class="navbar__info">
                <div class="limited">
                    <span class="navbar__name">{{trip.name}}</span>
                    <div class="navbar__tags">
                        <span class="tag">{{$t(`substances.${trip.substance}`)}}</span>
                        <span class="tag">{{distance()}}</span>
                    </div>
                </div>
                <User :userId="(sit.userId === user.uid) ? trip.userId : sit.userId"/>
            </div>
            <div class="navbar__menu">
                <div class="menu__options">
                    <Dropdown>
                        <template v-slot:dropdown_activator>
                            <div class="navbar__options_circle">
                                <font-awesome-icon :icon="['fas', 'ellipsis-h']"/>
                            </div>
                        </template>
                        <template v-slot:dropdown>
                            <div class="dropdown">
                                <div class="option">
                                    <span @click="deleteSit" v-if="!deleteLoading">Delete Sit</span>
                                    <Loader :scale="0.3" v-else/>
                                </div>
                            </div>
                        </template>
                    </Dropdown>
                </div>
            </div>
        </template>
    </Navbar>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import Navbar from '../Navbar';
    import Dropdown from '../Dropdown';
    import {deleteSit} from '../../services/SitService';
    import Loader from '../Loader';
    import User from './User';
    import {mapState} from 'vuex';

    export default {
        name: 'ChatNavbar',
        components: {
            User,
            Loader,
            Dropdown,
            Navbar,
            Datepicker
        },
        props: {
            sitId: String,
        },
        data() {
            return {
                loading: true,
                sit: {},
                trip: {},
                deleteLoading: false,
            };
        },
        methods: {
            distance() {
                return this.$geoService.calculateDistance(this.trip.longitude, this.trip.latitude);
            },
            deleteSit() {
                this.deleteLoading = true;
                deleteSit(this, this.sit, () => {
                    this.deleteLoading = false;
                })
            },
            getData() {
                this.loading = true;
                this.$apiService.GetSitInfo(this.sitId).then((res) => {
                    this.sit = res;
                    this.trip = res.trip;
                    this.$socket.emit(`trip-join`, this.trip.id);
                }).catch(() => {
                    this.$router.push('/');
                    this.$toasters['main'].error('Could not get sit');
                }).finally(() => {
                    this.loading = false;
                });
            },
        },
        created() {
            this.$eventBus.$on('cancel_trip', (tripId) => {
                if (this.trip.id == tripId) {
                    this.$router.push('/');
                }
            });
        },
        computed: {
            ...mapState(['user']),
        },
        watch: {
            sitId: {
                handler: 'getData',
                immediate: true,
            },
        },
    };
</script>

<style>

</style>

<style scoped lang="scss">

    @import "../../css/components/navbar";


    .navbar__content {

        .navbar__info {
            padding: 8px 0;
            max-width: calc(100% - 50px);
            color: $secondary;

            .limited {
                text-overflow: "..";
                white-space: nowrap;
                overflow: hidden;
                display: block;
            }

            .navbar__name {
                font-size: 30px;

                font-weight: bold;
            }

            .navbar__tags {
                display: flex;


                .tag {
                    color: $secondary;
                    font-size: 22px;
                    margin-right: 8px;
                }
            }
        }

        .navbar__menu {
            margin-left: auto;
            margin-right: 8px;
            display: flex;
            margin-top: 8px;

            .menu__options {
                position: relative;
                height: max-content;

                .options__menu {
                    right: 0;

                    span {
                        white-space: nowrap;
                    }
                }
            }

            .navbar__options_circle {
                $size: 54px;
                width: $size;
                color: $secondary;
                height: $size;
                line-height: $size;
                text-align: center;
                display: block;
                cursor: pointer;
                font-size: 32px;
                transition: .4s;
                border-radius: 50%;
                align-self: center;

                &:hover {
                    background: rgba(0, 0, 0, .08);
                }
            }
        }
    }

</style>
