<template>
    <div class="user">
        <Dropdown>
            <template v-slot:dropdown_activator>
                <Loader v-if="loading" :scale="0.4" color="white"/>
                <div class="user__name tag" v-else>
                    <template>
                        {{user.displayName}}
                    </template>
                </div>
            </template>
            <template v-slot:dropdown>
                <div class="dropdown">
                    <div class="user__info">
                        <div class="user__gender">
                            {{user.gender}}
                        </div>
                        <UserStats :userId="userId" v-if="user"/>
                        <div class="user__description">
                            {{user.description}}
                        </div>
                    </div>
                </div>
            </template>
        </Dropdown>
    </div>
</template>

<script>
    import Dropdown from '../Dropdown';
    import UserStats from '../UserStats';
    import Loader from '../Loader';

    export default {
        name: 'User',
        components: {Loader, UserStats, Dropdown},
        props: {
            userId: String,
        },
        created() {
            this.getData();
        },
        methods: {
            getData() {
                this.loading = true;
                this.$apiService.GetUser(this.userId).then((res) => {
                    this.user = res;
                }).catch(() => {
                    this.$toasters['main'].error('Could not get user info');
                }).finally(() => {
                    this.loading = false;
                });
            }
        },
        data() {
            return {
                loading: false,
                user: {
                    displayName: '',
                    description: '',
                    gender: '',
                },
            }
        }
    }
</script>

<style scoped lang="scss">
    .user {
        position: relative;

        .user__name {
            cursor: pointer;
        }

        .dropdown {
            left: 0;
            padding: 8px 16px;
            max-width: 250px;
        }
    }
</style>
