@import "../variables";

.background{
  &.one{
    background: $background-light;
  }
  &.two{
    background: $background-light-1;
  }
  &.three{
    background: $background-light-2;
  }
  &.four{
    background: $background-light-3;
  }
  &.primary-gradient{
    background: $primary-gradient;
  }
  &.primary{
    background: $primary!important;
  }
}

.dark{
  .background{
    &.one{
      background: $background-dark;
    }
    &.two{
      background: $background-dark-1;
    }
    &.three{
      background: $background-dark-2;
    }
    &.four{
      background: $background-dark-3;
    }
    &.primary{
      &.dark-secondary{
        background: $secondary!important;
      }
    }
  }
}
