@import "../variables";

.button {
  border-radius: $border-radius-1;
  color: $secondary;
  transition: $transition-1;
  cursor: pointer;
  padding: 8px 24px;

  &.main {
    background: $primary;

    &.outline {
      border: 1px solid $secondary;

      &:hover {
        background: $secondary;
        color: white;
      }

      &.selected {
        background: $secondary;
        color: white;

        &:hover {
          border: 1px solid $secondary;
          color: $secondary;
          background: $primary;
        }
      }
    }

    &:hover {
      opacity: .75;
    }
  }

  &.slight {
    background: $primary-inactive;
    color: $primary;

    &.selected, &:hover {
      background: $primary;
      color: $secondary;
    }

    &.selected:hover {
      background: $primary-inactive;
      color: $primary;
    }

  }
  &.flat {
    color: $primary;
    font-weight: bold;

    &:hover{
      background: $primary-inactive;
    }
  }

  &.bold {
    font-weight: bold;
  }

  &.oval {
    border-radius: 70px;
  }

  &.small{
    padding: 4px 8px;
  }

  &.big{
    padding: 12px 32px;
  }

  &.block{
    display: block;
  }



  &.disabled{
    opacity: .32;
    pointer-events: none !important;
  }
}
