@import "../variables";

.navbar__outside {
  background: $primary;
  width: 100%;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  box-shadow: $shadow-light;

  .navbar__inside {
    padding: 0 16px;
  }
}

.dark{
  .navbar__outside{
    box-shadow: $shadow-dark;
  }
}
