@import "../variables";

.text{
  &.full{
    color: $color-light;
  }
  &.s-muted{
    color: $color-light-1;
  }
  &.muted{
    color: $color-light-2;
  }
  &.bold{
    font-weight: bold;
  }
  &.secondary{
    color: $secondary;
  }
  &.primary{
    color: $primary;
  }
}

.dark{
  .text{
    &.full{
      color: $color-dark
    }
    &.s-muted{
      color: $color-dark-1;
    }
    &.muted{
      color: $color-dark-2;
    }
  }
}
