<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="Description"
          content="On Tripsitter you can create trips and find sitters or find trips to sit. You can create plans and rate your trips.">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico"/>
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap"
            rel="stylesheet"
    />
    <meta name="theme-color" content="#7cea9c"/>
    <title>Tripsitter - Host or Sit Trips</title>
</head>
<body>
<noscript>
    <div class="noscript">
        <h1 class="title">Tripsitter</h1>
        <span>
        We're sorry but Tripsitter doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.
      </span>
    </div>
</noscript>
<div id="app">
    <div class="splash_screen"
         style="background: #7cea9c;width: 100%; height: 100%;display: flex;justify-content: center;flex-direction: column">
        <h2 style="margin:0;color:white;align-self: center;font-family: 'Montserrat', sans-serif;font-size: 32px;display: block">
            Loading
            Tripsitter...</h2>
    </div>
</div>
</body>

<style lang="scss">
    .noscript {
        text-align: center;
        min-height: 100%;
        max-width: 800px;
        margin: auto;
    }

    .title {
        margin-bottom: 8px;
    }
</style>

</html>
