<template>
    <Navbar :loading="loading">
        <template>
            <div class="navbar__search">
                <div class="navbar__substances">
                    <div class="substances__search">
                        <font-awesome-icon :icon="['fas', 'search']"/>
                        <input type="text" :placeholder="$t('search_substances')" v-model="search">
                    </div>
                    <div class="substances__substances no_scrollbar">
                    <span class="substance button main outline bold small" v-for="substance in filteredSubstances()"
                          :class="{selected: substance.selected}" v-on:click="updateSubstanceSearch(substance)">{{$t(`substances.${substance.name}`)}}</span>
                    </div>
                </div>
                <div class="navbar__limits">
                    <div class="limit" v-if="false">
                        <input type="range" class="limit__amount" v-model="query.rating" v-on:input="updateRating"
                               step="1">
                        <span class="limit__name">{{query.rating}} Rating</span>
                    </div>
                    <div class="limit">
                        <span class="limit__amount">
                            <span class="amount__name">Distance</span>
                            <input class="amount__value" type="number" v-model="query.distance" @input="updateDistance">
                            <span class="amount__type">Km</span>
                        </span>
                        <input type="range" class="limit__amount" v-model="query.distance" @input="updateDistance"
                               step="1" max="250" min="10">
                    </div>
                </div>
            </div>
        </template>

    </Navbar>
</template>

<script>
    import Navbar from '../Navbar';

    export default {
        name: 'FindTripsNavbar',
        components: {Navbar},
        data() {
            return {
                search: '',
                loading: false,
                refreshTimeout: 0,
            };
        },
        props: {
            query: {},
        },
        methods: {
            refresh() {
                clearTimeout(this.refreshTimeout);
                this.refreshTimeout = setTimeout(() => {
                    this.$emit('refresh');
                }, 1000);
            },
            updateSubstanceSearch(substance) {
                substance.selected = !substance.selected;
                this.$localDataService.updateSubstanceSearch(this.query.substances);
                this.refresh();
            },
            updateRating() {
                this.$localDataService.updateRatingSearch(this.query.rating);
                this.refresh();
            },
            updateDistance() {
                if (this.query.distance === '') {
                    this.query.distance = 30;
                }

                const max = 250;
                const min = 10;
                if (this.query.distance > max) {
                    this.query.distance = max;
                } else if (this.query.distance < min) {
                    this.query.distance = min;
                }
                this.$localDataService.updateDistanceSearch(this.query.distance);
                this.refresh();
            },

            filteredSubstances() {
                return this.query.substances.filter((s) => {
                    return s.name.toLowerCase().includes(this.search.toLocaleLowerCase());
                });
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";
    @import "../../css/components/button";
    @import "../../css/components/navbar";

    .navbar__outside {
        .navbar__inside {

            .refresh_circle {
                text-align: center;
                $size: 48px;
                width: $size;
                height: $size;
                font-size: 18px;
                line-height: $size;
                background: $primary;
                z-index: 1;
                position: absolute;
                box-shadow: $shadow-dark;
                color: $secondary;
                cursor: pointer;
                border-radius: 50%;
                transition: .4s;
                top: calc(100% + 28px);
                left: 50%;
                transform: translate(-50%, -50%);
                margin: auto;

                &:hover {
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }

            .navbar__search {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                max-width: 100%;

                .navbar__limits {
                    align-items: center;
                    margin: auto;
                    display: flex;

                    .limit {
                        display: block;
                        color: $secondary;

                        span.limit__amount {
                            display: flex;

                            .amount__value {
                                margin-left: auto;
                                font-weight: bold;
                                border: 0;
                                color: white;
                                text-align: center;
                                background: transparent;
                                font-size: 16px;
                                margin-right: 4px;
                                border-radius: 70px;
                                background: $secondary-inactive;
                                width: 50px;
                                -moz-appearance: textfield;
                                transition: .4s;

                                &:focus, &:hover {
                                    background: $secondary;
                                }

                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }
                            }
                        }

                        &:first-of-type {
                            margin-right: 12px;
                        }

                        .limit__amount {
                            -webkit-appearance: none;
                            background: transparent;
                            border-radius: 70px;

                            &:focus {
                                outline: none;
                            }

                            &::-moz-range-track {
                                height: 5px;
                                background: $background-light;
                                border: none;
                                border-radius: 3px;
                            }

                            &::-webkit-slider-runnable-track {
                                height: 5px;
                                background: $secondary;
                                border: none;
                            }

                            &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                border: none;
                                height: 16px;
                                width: 16px;
                                border-radius: 50%;
                                background: $background-light;
                                margin-top: -6px;
                            }


                            &::-moz-range-progress {
                                height: 5px;
                                border: none;
                                background: $secondary;
                            }

                            &::-moz-range-thumb {
                                border: none;
                                height: 16px;
                                width: 16px;
                                border-radius: 50%;
                                background: $background-light;
                                transition: .4s;
                            }

                            &:hover {
                                &::-moz-range-thumb {
                                    background: $secondary;
                                }

                                &::-webkit-slider-thumb {
                                    background: $secondary;
                                }
                            }

                        }

                        .limit__name {
                            font-size: 18px;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }

                .navbar__substances {
                    flex-grow: 1;
                    padding: 12px 0;
                    max-width: 100%;

                    .substances__search {
                        color: $secondary;

                        svg {
                            font-size: 18px;
                            margin-right: 12px;
                        }

                        input {
                            border: 0;
                            background: 0;
                            font-size: 16px;
                            font-weight: 600;
                        }

                        input[placeholder] {
                            opacity: .6;
                        }
                    }

                    .substances__substances {
                        margin-top: 8px;
                        display: flex;
                        overflow-y: auto;
                        max-width: 100%;
                        flex-wrap: nowrap;

                        .substance {
                            margin-right: 12px;
                            display: inline-block;
                        }
                    }
                }
            }


        }
    }

    @media all and (max-width: 1200px) {
        .navbar__outside {
            .navbar__inside {

                .navbar__search {
                    .navbar__limits {
                    }
                }
            }
        }
    }

</style>
