<template>
    <div class="found_trip">
        <div class="found_trip__main">
            <div class="sit_loading" v-if="sit_request">
                <Loader/>
            </div>
            <div class="main__body">
                <span class="body__title">{{trip.name}}</span>
                <span class="body__description">{{trip.description}}</span>
                <span class="body__distance">{{distance()}}</span>
                <Ratingbar :rating="trip.rating" class="body__rating" v-if="false"/>
                <div class="body__more no_scrollbar" :class="{active: show_more}">
                    <keep-alive>
                        <FoundTrip_More v-if="show_more" @sit="sit" :trip-id="trip.id"
                                        :trip-description="trip.description" :user-id="trip.userId"/>
                    </keep-alive>
                </div>
                <div class="body__action">
                    <span class="action_button button main bold" @click="sit">
                        Sit
                    </span>
                    <span class="action_button button flat bold" :class="{selected: show_more}" @click="showMore">
                        <span v-if="!show_more">More</span>
                        <span v-else>Less</span>
                    </span>
                    <Copy class="action_button small button flat bold link"
                          :copy="`https://tripsitter.dev/trip/${trip.id}`">
                        <font-awesome-icon :icon="['fas', 'link']"/>
                    </Copy>
                </div>
            </div>
            <div class="main__substance" :class="trip.substance">
                <span class="substance__name">{{$t(`substances.${trip.substance}`)}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import Ratingbar from '../Ratingbar';
    import FoundTrip_More from './FoundTrip_More';
    import Loader from '../Loader';
    import Copy from '../Copy';

    export default {
        name: 'FoundTrip',
        components: {
            Copy,
            Loader,
            FoundTrip_More, Ratingbar,
        },
        props: {
            trip: Object,
        },
        data() {
            return {
                show_more: false,
                sit_request: false,
            };
        },
        methods: {
            showMore() {
                this.show_more = !this.show_more;
                if (this.show_more) {

                }
            },
            distance() {
                return this.$geoService.calculateDistance(this.trip.longitude, this.trip.latitude);
            },
            sit() {
                this.sit_request = true;
                this.$apiService.AddSit(this.trip.id).then((res) => {
                    this.$toasters['main'].success('Sit added');
                    res.trip = this.trip;
                    this.$eventBus.$emit('sit', {id: res.id, trip: this.trip});
                    this.$socket.emit('add-sit', res);
                    this.$router.push(`/sit/${res.id}`)
                }).catch(() => {
                    this.$toasters['main'].error('Could not add sit');
                }).finally(() => {
                    this.sit_request = false;
                });
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";
    @import '../../css/components/button';

    .found_trip {
        position: relative;
        background: $background-light;
        flex-grow: 1;
        border-radius: $border-radius-1;
        margin: 8px;
        width: 40%;
        min-width: 200px;
        align-self: flex-start;
        box-shadow: $shadow-light;

        .found_trip__main {
            display: flex;
            flex-direction: column-reverse;

            .sit_loading {
                position: absolute;
                border-radius: $border-radius-1;;
                width: 100%;
                height: 100%;
                justify-content: center;
                background: rgba(0, 0, 0, .36);
                z-index: 1;
                display: flex;
                align-items: center;
            }

            .main__body {
                $padding-horizontal: 16px;
                width: 100%;
                position: relative;

                .body__more {
                    margin-top: 8px;
                    padding: 0 16px 4px 16px;
                    height: 0;
                    transition: height .6s;
                    overflow: auto;

                    &.active {
                        height: 100px;
                    }
                }

                span {
                    display: block;
                }

                .body__action {
                    z-index: 1;
                    border-top: 1px solid $border-light;
                    display: flex;

                    .action_button {
                        display: inline-block;
                        margin: 12px 8px;

                        &:first-of-type {
                            margin-left: 16px;
                            margin-right: 4px;
                        }

                        &.link {
                            margin-left: auto;
                            align-self: center;
                            margin-right: 16px;
                        }
                    }
                }

                .body__title {
                    padding: 8px $padding-horizontal 1px $padding-horizontal;
                    font-size: 24px;
                    font-weight: bold;
                    color: $color-light;
                    margin-bottom: 4px;
                    width: calc(100% - 32px);
                    text-overflow: "..";
                    white-space: nowrap;
                    overflow: hidden;
                }


                .body__description {
                    width: calc(100% - 32px);
                    text-overflow: "..";
                    white-space: nowrap;
                    overflow: hidden;
                    padding: 1px $padding-horizontal;
                    color: $color-light-1;
                    margin-bottom: 8px;
                }

                .body__distance {
                    padding: 1px $padding-horizontal 8px $padding-horizontal;
                    color: $color-light-2;
                }

                .body__rating {
                    position: absolute;
                    top: 8px;
                    right: 16px;
                }
            }

            .main__substance {
                text-align: center;
                padding: 18px;
                min-width: 0;
                align-content: center;
                border-radius: $border-radius-1 $border-radius-1 0 0;
                margin: 0;
                display: flex;
                font-weight: bold;
                align-items: center;
                font-size: 24px;
                background: $primary;
                color: white;

                .substance__name {
                    width: 100%;
                }
            }
        }
    }

    .dark {
        .found_trip {
            background: $background-dark-1;
            box-shadow: $shadow-dark;

            .found_trip__main {
                .main__body {

                    .body__action {
                        z-index: 1;
                        border-top: 1px solid $border-dark;
                    }

                    .body__title {
                        color: $color-dark;
                    }

                    .body__username, .body__description {
                        color: $color-dark-1;
                    }

                    .body__distance {
                        color: $color-dark-2
                    }
                }
            }


        }
    }

    @media all and (max-width: 1000px) {
        .found_trip {
            .found_trip__main {
                .main__body {
                    width: 100%;
                }
            }
        }
    }
</style>
