<template>
    <div class="found_trip_more">
        <Loader v-if="loading"/>
        <div class="found_trip_more__info" v-else>
            <div class="info__user">
                <div class="user__name">
                    {{user.displayName}}
                </div>
                <div class="user__gender">
                    {{user.gender}}
                </div>
                <UserStats :userId="user.userId" v-if="user"/>
                <div class="user__description">
                    {{user.description}}
                </div>
            </div>
            <div class="info__description">
                {{tripDescription}}
            </div>
        </div>
    </div>
</template>

<script>
    import Loader from '../Loader';
    import UserStats from '../UserStats';

    export default {
        name: 'FoundTrip_More',
        props: {
            tripId: Number,
            userId: String,
            tripDescription: String,
        },
        components: {
            UserStats,
            Loader
        },
        data() {
            return {
                user: {},
                loading: false,
            };
        },
        mounted() {
            this.loading = true;
            this.$apiService.GetUser(this.userId).then((res) => {
                this.user = res;
            }).catch(() => {
                this.$toasters['main'].error('Could not get user info');
            }).finally(() => {
                this.loading = false;
            });
        },
    };
</script>


<style scoped lang="scss">
    @import '../../css/variables';

    .found_trip_more {
        z-index: 0;

        .found_trip_more__action {
            .action__button {
                cursor: pointer;
                font-weight: bold;
                display: block;
                padding: 4px 12px;
                color: $secondary;
                border-radius: 70px;
                margin: 8px 12px;
                text-align: center;
                background: $primary;
            }
        }

        .found_trip_more__info {
            display: flex;
            flex-wrap: wrap;

            .info__user {
                min-width: 150px;
                max-width: 250px;
                margin-right: 4px;
                margin-bottom: 8px;

                .user__name {
                    position: relative;
                    font-weight: bold;
                    z-index: 0;
                    color: $color-light;
                    text-overflow: "..";
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                }

                .user__gender {
                    color: $color-light-2;
                }

                .user__description {
                    font-size: 16px;
                    color: $color-light-1;
                }
            }

            .info__description {
                flex-grow: 1;
                flex-basis: 200px;
                color: $color-light-2;
            }
        }
    }

    .dark {
        .found_trip_more {
            .found_trip_more__info {
                .info__user {
                    .user__name {
                        color: $color-dark;
                    }

                    .user__gender {
                        color: $color-dark-2;
                    }

                    .user__description {
                        color: $color-dark-1;
                    }
                }

                .info__description {
                    color: $color-dark-2;
                    border-bottom-right-radius: $border-radius-1;
                }
            }
        }
    }
</style>
