<template>
    <div class="error">
        <div class="error__container">
            <div class="container__content">
                <span class="error__message">404</span>
                <span class="container__title">There seems to be nothing here.</span>
                <span class="container__message">Maybe this page doesn't exist yet? Or maybe you got the wrong address? Anywhere, what you're looking for is definitely not here.</span>
                <div class="container__action">
                    <router-link tag="span" class="container__home" to="/">Go Home</router-link>
                    <span class="container__back" @click="$router.go(-1)">Get Back</span>
                </div>
            </div>
        </div>
        <div class="img__wrapper">
            <img src="../assets/undraw_void_3ggu.svg" alt="void">
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Error',
    }
</script>

<style scoped lang="scss">
    @import '../css/variables';
    .error{
        width: 100%;
        height: 100%;
        display: flex;
        background: $background-light;
        position: relative;


        .img__wrapper{
            width: 100%;
            justify-content: center;
            display: flex;
            img{
                max-width: 500px;
                width: 90%;
            }
        }

        .error__container{
            z-index: 1;
            background: $primary-gradient;
            display: flex;
            padding: 24px 48px;
            text-align: center;
            align-items: center;
            max-width: 500px;
            font-weight: bold;
            color: $secondary;

            .container__content{
                display: flex;
                flex-direction: column;
                .error__message{
                    font-size: 136px;
                    margin-bottom: 4px;
                    font-weight: bold;

                }

                .container__title{
                    font-size: 24px;
                    display: block;
                    margin-bottom: 8px;
                }

                .container__message{
                    margin-bottom: 16px;
                }

                .container__action{
                    padding-top: 24px;
                    border-top: 1px solid $secondary;
                    width: 100%;
                    span{
                        font-weight: bold;
                        padding: 8px 12px;
                        border-radius: 70px;
                        cursor: pointer;
                        transition: .4s;
                        display: inline-block;
                        border: 1px solid transparent;
                        &:hover{
                            color: $secondary;
                            border: 1px solid $secondary;
                            background: transparent;
                        }

                        &:first-of-type{
                            margin-right: 16px;
                        }
                    }

                    .container__back{
                        color: $primary;
                        background: $secondary;
                    }
                }
            }
        }
    }

    .dark{
        .error{
            background: $background-dark;
            .error__container{
                box-shadow: $shadow-dark-2;
            }
        }
    }

    @media all and (max-width: 950px) {
        .error {
            .img__wrapper {
                display: none;
            }

            .error__container {
                max-width: 100%;
            }
        }
    }
</style>
