<template>
    <div class="trip_finder background four">
        <FindTripsNavbar @refresh="refresh" ref="findtrip" :query="findTripsQuery"/>
        <div class="getting_location" v-if="!location">
            <img src="../assets/undraw_my_location_f9pr.svg">
            <h2>Trying to access location...</h2>
            <Loader v-if="loaders.locationTimeout"/>
            <span class="button main bold" @click="getLocation" v-else>Retry</span>
        </div>
        <InfiniteScroll class="trip_finder__trips no_scrollbar" ref="findtrip" :doStartCall="false"
                        :empty="trips.length === 0" :callback="loadData" v-if="location">
            <template v-slot:scroll>
                <FoundTrip v-for="trip in trips" :trip="trip" :key="`trip-${trip.id}`"/>
            </template>
            <template v-slot:empty>
                <div class="no-trips">
                    <Empty :text="'No Trips Found, Sorry!'"/>
                </div>
            </template>
            <template v-slot:loader>
                <div class="loader">
                    <Loader/>
                </div>
            </template>
            <template v-slot:end>
                <Empty class="empty" :text="'No More Trips , Come back later!'" :mode="2"/>
            </template>
        </InfiniteScroll>
    </div>
</template>

<script>
    import FindTripsNavbar from '../components/FindTrip/FindTripsNavbar';
    import FoundTrip from '../components/FindTrip/FoundTrip';
    import Empty from '../components/Empty';
    import {mapMutations, mapState} from 'vuex';
    import Loader from '../components/Loader';
    import InfiniteScroll from '../components/InfiniteScroll';

    export default {
        name: 'FindTrip',
        components: {
            InfiniteScroll,
            Loader,
            FoundTrip,
            FindTripsNavbar,
            Empty,
        },
        data() {
            return {
                trips: [],
                findTripsQuery: {
                    distance: 0,
                    substances: [],
                    rating: 0,
                },
                loaders: {
                    locationTimeout: false,
                },
            };
        },
        methods: {
            ...mapMutations(['setLocation']),
            loadData(page) {
                return new Promise((resolve, reject) => {
                    this.$apiService.FindTrips(page, {
                        substances: this.selectedSubstances,
                        distance: parseFloat(this.findTripsQuery.distance),
                        rating: this.findTripsQuery.rating,
                        longitude: this.location.longitude,
                        latitude: this.location.latitude,
                    }).then((res) => {
                        if (res.length > 0) {
                            this.trips.push(...res);
                            resolve();
                        }
                    }).finally(() => {
                        reject();
                    })
                });
            },
            refresh() {
                this.trips = [];
                if (this.location) {
                    this.$refs.findtrip.refresh();
                }
            },
            fillLocalData() {
                return new Promise((resolve) => {
                    Promise.all([this.$localDataService.getDistance().then((res) => {
                        this.findTripsQuery.distance = res;
                    }), this.$localDataService.getRating().then((res) => {
                        this.findTripsQuery.rating = res;
                    }), this.$localDataService.getSubstanceData().then((res) => {
                        this.findTripsQuery.substances = res;
                    })]).then(() => {
                        resolve();
                    });
                });
            },
            getLocation() {
                this.$geoService.getLocation().then((position) => {
                    this.setLocation(position.coords);
                }).catch((e) => {
                    this.$toasters['main'].error(e);
                });
            },
        },
        watch: {
            location() {
                this.$refs.findtrip.refresh();
            },
        },
        computed: {
            ...mapState(['location']),
            selectedSubstances() {
                const arr = [];
                this.findTripsQuery.substances.forEach((s) => {
                    if (s.selected) {
                        arr.push(s.name);
                    }
                });
                return arr;
            },
        },
        mounted() {
            if (!this.location) {
                this.loaders.locationTimeout = true;
                setTimeout(() => {
                    this.loaders.locationTimeout = false;
                }, 5000)
            }
            this.fillLocalData().then(() => {
                this.trips = [];
                this.$refs.findtrip.refresh();
            });
            this.$eventBus.$on('sit', (sit) => {
                this.trips.splice(this.trips.indexOf(sit.trip), 1);
            });
        },
    };
</script>

<style scoped lang="scss">
    @import "../css/components/background";
    @import "../css/components/button";

    .trip_finder {
        flex-grow: 1;
        width: calc(100% - 400px);
        overflow-y: hidden;
        display: flex;
        flex-direction: column;

        .getting_location {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: auto;

            img {
                width: 100%;
                max-width: 300px;
            }
        }

        .trip_finder__trips {
            overflow-y: auto;
            padding: 8px 24px 0 24px;
            display: flex;
            flex-wrap: wrap;
            height: 100%;

            .no-trips {
                margin-top: 18px;
                width: 100%;
            }

            .loader {
                width: 100%;
                justify-content: center;
                display: flex;
            }

            .empty {
                margin-top: 12px;
                width: 100%;
            }

            &::after {
                content: '';
                padding-top: 8px;
                width: 100%;
            }
        }
    }
</style>
