<template>
    <div class="home">
        <GlobalNavbar/>
        <transition
                name="fade"
                mode="out-in"
        >
            <router-view/>
        </transition>
    </div>
</template>

<script>
    import GlobalNavbar from '../components/Sidebar/Sidebar';

    export default {
        name: 'Home',
        components: {
            GlobalNavbar,
        },
    };
</script>

<style lang="scss">
    .home {
        display: flex;
        height: 100%;
    }
</style>
