<template>
    <div class="login_page">
        <div class="login_page__login background four">
            <div class="login-page__logo">
                <div class="logo_content background one">
                    <img
                            src="../assets/tripsitter-small-1.png"
                            alt="tripsitter-logo"
                            class="logo"
                    />
                </div>
                <h1 class="header__title text full">Tripsitter</h1>
            </div>
            <div class="login background one">
                <div class="login__image background primary-gradient">
                    <img class="login-page__image" src="../assets/party.svg" alt="tripsitter-party"/>
                    <h1 class="text secondary">Plan Trip or find trips to sit</h1>
                </div>
                <div class="login__content">
                    <div class="login__bodies">
                        <transition name="fade" mode="out-in">
                            <div class="body__login" v-if="login_nav" key="1">
                                <div class="body__title">
                                    <span>Sign in</span>
                                </div>
                                <div class="content">
                                    <div class="login__input">
                                        <label for="login_username">Email</label>
                                        <input id="login_username" type="text" placeholder="Username"
                                               @keydown.enter="login"
                                               v-model="login_username"/>
                                    </div>
                                    <div class="login__input">
                                        <label for="login_password">Password</label>
                                        <input id="login_password" type="password" placeholder="********"
                                               @keydown.enter="login"
                                               v-model="login_password"/>
                                    </div>
                                    <div class="login__action">
                                        <a class="button main bold" @click="login">
                                            <div class="loader" v-if="loaders.login_loading">
                                                <Loader :color="'white'" :scale="0.4"/>
                                            </div>
                                            <span v-else>
                                        <font-awesome-icon :icon="['fas', 'lock']"/>
                                        Sign in
                                    </span>
                                        </a>
                                    </div>
                                    <div class="login__link">
                                        <span @click="login_nav = false">Want to create an account?</span>
                                    </div>
                                </div>
                            </div>
                            <div class="body__register" v-else key="2">
                                <div class="body__title">
                                    <span>Create Account</span>
                                </div>
                                <div class="content">
                                    <div class="login__input">
                                        <label for="register_email">Email</label>
                                        <input id="register_email" type="email" placeholder="Email"
                                               @keydown.enter="register"
                                               v-model="register_email"/>
                                    </div>
                                    <div class="login__input">
                                        <label for="register_password">Password</label>
                                        <input id="register_password" type="password" placeholder="********"
                                               @keydown.enter="register"
                                               v-model="register_password"/>
                                    </div>
                                    <div class="disclaimer">
                                        <input type="checkbox"
                                               id="disclaimer"
                                               v-model="accepted_disclaimer"/>
                                        <label for="disclaimer">By creating an account I accept to not use Tripsitter to
                                            do
                                            anything illegal and that Tripsitter isn't responsible for any harm done to
                                            me. </label>
                                    </div>
                                    <transition name="fade" mode="out-in">
                                        <div class="login__action">
                                            <a class="button main bold" @click="register" v-if="accepted_disclaimer">
                                                <div class="loader" v-if="loaders.register_loading">
                                                    <Loader :color="'white'" :scale="0.4"/>
                                                </div>
                                                <span v-else>
                                        <font-awesome-icon :icon="['fas', 'lock']"/>
                                        Register</span>
                                            </a>
                                            <a class="button main disabled bold" v-else>
                                        <span>
                                            <font-awesome-icon :icon="['fas', 'lock']"/>
                                            Register
                                        </span>
                                            </a>
                                        </div>
                                    </transition>
                                    <div class="login__link">
                                        <span @click="login_nav = true">Or Sign in instead</span>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
        </div>
        <div class="login_page__logo background one">
            <img
                    src="../assets/tripsitter-small-1.png"
                    alt="tripsitter-logo"
                    class="logo"
            />
            <h1 class="title text full">Tripsitter</h1>
        </div>
        <div class="points background one">
            <div class="login_page__point background one">
                <div class="point__content">
                    <img class="image" src="../assets/undraw_create_f05x.svg" alt="">
                    <div class="point">
                        <div class="title">Create Trips</div>
                        <div class="text">On Tripsitter you can create trips for others to find. You can choose between
                            different substances and write your own description.
                        </div>
                    </div>
                </div>
            </div>
            <div class="login_page__point background four reverse">
                <div class="point__content">
                    <img class="image" src="../assets/undraw_people_search_wctu.svg" alt="">
                    <div class="point">
                        <div class="title">Find trips to sit</div>
                        <div class="text">Use Tripsitter to find trips to sit in your area. With options to only search
                            for the substances you want to sit.
                        </div>
                    </div>
                </div>
            </div>
            <div class="login_page__point background one">
                <div class="point__content">
                    <img class="image" src="../assets/undraw_chat_1wo5.svg" alt="">
                    <div class="point">
                        <div class="title">Chat</div>
                        <div class="text">Chat with your tripsitter or tripper to get more comfortable and find out
                            more.
                        </div>
                    </div>
                </div>
            </div>
            <div class="login_page__point background four reverse">
                <div class="point__content">
                    <img class="image" src="../assets/undraw_online_calendar_kvu2.svg" alt="">
                    <div class="point">
                        <div class="title">Plan Trips</div>
                        <div class="text">Plan trips on a certain date.</div>
                    </div>
                </div>
            </div>
            <div class="login_page__point background one">
                <div class="point__content">
                    <img class="image" src="../assets/undraw_positive_attitude_xaae.svg" alt="">
                    <div class="point">
                        <div class="title">Rate Trips</div>
                        <div class="text">Rate how your tripsitter or tripper did in a plan.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="login_page__footer">
            <div class="image_wrapper">
                <img
                        src="../assets/tripsitter-small-1.png"
                        alt="tripsitter-logo"
                        class="image"
                />
            </div>

            <h1 class="title text full">Tripsitter</h1>
        </div>
    </div>
</template>

<script>
    import 'firebase/auth';
    import firebase from 'firebase/app';
    import Loader from '../components/Loader';

    export default {
        name: 'Login',
        components: {Loader},
        data() {
            return {
                login_nav: true,
                login_username: '',
                login_password: '',
                register_email: '',
                register_password: '',
                loaders: {
                    login_loading: false,
                    register_loading: false,
                },
                accepted_disclaimer: false,
            };
        },
        methods: {
            login() {
                if (!this.loaders.login_loading) {
                    this.loaders.login_loading = true;
                    firebase.auth().signInWithEmailAndPassword(this.login_username, this.login_password).then(() => {
                        this.$router.push('/');
                    }).catch((e) => {
                        this.$toasters['main'].error(e.message);
                    }).finally(() => {
                        this.loaders.login_loading = false;
                    });
                }

            },
            register() {
                if (!this.loaders.register_loading) {
                    this.loaders.register_loading = true;
                    firebase.auth().createUserWithEmailAndPassword(this.register_email, this.register_password).then(() => {
                        firebase.auth().currentUser.sendEmailVerification();
                        this.$router.push('/');
                    }).catch((e) => {
                        this.$toasters['main'].error(e.message);
                    }).finally(() => {
                        this.loaders.register_loading = false;
                    });
                }
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../css/variables";
    @import "../css/components/background";
    @import "../css/components/button";
    @import "../css/components/text";

    .login_page {
        overflow-y: auto;

        .login_page__up {
            position: fixed;
            bottom: 24px;
            left: 16px;

            .outline {
                cursor: pointer;
                $size: 48px;
                height: $size;
                width: $size;
                background: $primary;
                color: $secondary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                border: 1px solid $secondary
            }

        }

        .login_page__footer {
            background: $primary;
            display: flex;
            color: white;
            padding: 32px 0;
            justify-content: center;
            align-items: center;

            .image_wrapper {
                background: white;
                border-radius: 50%;
                $size: 128px;
                width: $size;
                text-align: center;
                display: flex;
                align-items: center;
                height: $size;
                justify-content: center;
                align-content: center;
                margin-right: 16px;

                .image {
                    width: 82px;
                }
            }

            .title {
                font-size: 48px;
                color: white;
            }
        }

        .login_page__point {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 128px 64px;

            &.reverse {
                .point__content {
                    flex-direction: row-reverse;

                    .point {
                        margin: 0 256px 0 0;
                    }
                }
            }

            .point__content {
                display: flex;
                align-items: center;

                .image {
                    max-width: 300px;
                }

                .point {
                    margin: 0 0 0 256px;
                    width: 300px;

                    .title {
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }
                }
            }


        }

        .login_page__logo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            align-content: center;
            padding: 48px 16px;
            border-bottom: 1px solid $border-light;

            .logo {
                margin: auto;
                max-width: 180px;
            }

            .title {
                font-size: 64px;
                margin-bottom: 0;
            }
        }

        .login_page__login {
            height: 950px;
            max-height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .login-page__logo {
                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;

                .logo_content {
                    margin-right: 16px;
                    $size: 72px;
                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    justify-content: center;
                    display: flex;

                    img {
                        justify-content: center;
                        align-self: center;
                        height: $size / 2;
                        text-align: center;
                    }
                }


                .header__title {
                    margin: 0;
                }
            }

            .login {
                z-index: 1;
                align-self: center;
                margin: 32px 32px;
                height: 70%;
                box-shadow: $shadow-light;
                min-height: 550px;
                width: calc(100% - 64px);
                max-width: 1200px;
                border-radius: .8em;
                display: flex;
                flex-direction: row;

                .login__image {
                    width: 500px;
                    align-items: center;
                    display: flex;
                    border-top-left-radius: .8em;
                    border-bottom-left-radius: .8em;
                    flex-direction: column;
                    justify-content: center;

                    img {
                        max-width: 80%;
                    }

                    h2 {
                        text-align: center;
                        font-size: 36px;
                        margin: 16px 0 24px 0;
                    }
                }

                .login__content {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    flex-grow: 1;
                    padding: 32px 0;

                    .login__bodies {
                        padding: 16px 64px 0 64px;

                        .body__title {
                            margin-bottom: 32px;
                            display: block;

                            span {
                                font-size: 48px;
                                display: inline-block;
                                font-weight: bold;
                                position: relative;
                                cursor: default;
                            }
                        }

                        .login__link {
                            border-top: 1px solid $border-light;
                            margin-top: 16px;
                            padding-top: 16px;
                            font-weight: bold;
                            text-align: center;

                            span {
                                transition: .4s;
                                cursor: pointer;
                                border-radius: $border-radius-1;
                                padding: 6px 12px;

                                &:hover {
                                    background: $background-light-1;
                                }
                            }
                        }

                        .disclaimer {
                            max-width: 500px;
                            margin-left: auto;

                            input {
                                display: none;
                            }

                            label {
                                margin-bottom: 16px;
                                text-align: right;
                                position: relative;
                                display: inline-block;
                                padding-left: 26px;
                                cursor: pointer;

                                &::before, &::after {
                                    position: absolute;
                                    content: "";
                                    display: inline-block;
                                }

                                &::before {
                                    height: 20px;
                                    width: 20px;
                                    background: $primary;
                                    border-radius: $border-radius;
                                    left: 0;
                                    top: 2px;
                                }

                                &::after {

                                    height: 5px;
                                    width: 9px;
                                    border-left: 4px solid;
                                    border-bottom: 4px solid;
                                    transform: rotate(-45deg);
                                    left: 4px;
                                    top: 5px;
                                }
                            }

                            input[type="checkbox"] + label::after {
                                content: none;
                            }

                            input[type="checkbox"]:checked + label::after {
                                content: "";
                            }

                        }

                        .login__input {
                            border-radius: $border-radius-1;
                            background: $primary;
                            padding: 12px 16px;
                            margin: 24px auto;
                            color: white;
                            font-weight: bold;

                            input {
                                font-size: 20px;
                                width: 100%;
                                color: white;
                                font-weight: bold;
                                display: block;
                                border: 0;
                                background: transparent;

                                &::-webkit-input-placeholder {
                                    color: rgba(255, 255, 255, .7);
                                }
                            }
                        }

                        .login__action {
                            text-align: right;

                            a {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    .dark {
        .login_page {
            .login_page__logo {
                border-bottom: 1px solid $border-dark;
            }

            .login_page__login {
                .login {
                    box-shadow: $shadow-dark;

                    .login__content {

                        .login__link {
                            border-top: 1px solid $border-dark;

                            span {
                                &:hover {
                                    background: $background-dark-1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width: 1200px) {
        .login_page {
            .login_page__login {
                .login {
                    .login__image {
                        display: none;
                    }
                }
            }

            .login_page__point {

                &.reverse {
                    .point__content {
                        flex-direction: column;

                        .point {
                            text-align: center;
                            margin: 16px 0 0 0;
                        }

                        .image {
                            width: 200px;
                        }
                    }
                }

                .point__content {
                    flex-direction: column;

                    .point {
                        text-align: center;
                        margin: 16px 0 0 0;
                    }

                    .image {
                        width: 200px;
                    }
                }
            }
        }
    }

</style>
