<template>
    <div class="settings__wrapper background four">
        <div class="settings background three">
            <div class="settings__loading" v-if="loading">
                <Loader/>
            </div>
            <div class="settings__title">
                <span class="title">{{$t('settings.title')}} {{userInfo.displayName}}?</span>
            </div>
            <div class="settings__setting">
                <label for="name" class="setting__name">{{$t('settings.name')}}</label>
                <div class="setting__setting">
                    <input id="name" v-model="userInfo.displayName" max="32" placeholder="Your displayname"
                           @input="updateDisplayname"/>
                </div>
            </div>
            <div class="settings__setting">
                <label for="description" class="setting__name">{{$t('settings.description')}}</label>
                <div class="setting__setting">
                    <textarea id="description" v-model="userInfo.description" max="256" placeholder="Your description"
                              @input="updateUser"></textarea>
                </div>
            </div>
            <div class="settings__setting">
                <label class="setting__name">{{$t('settings.gender.gender')}}</label>
                <div class="setting__setting">
                    <Dropdown ref="dropdown">
                        <template v-slot:dropdown_activator>
                            <div class="gender__selected button main bold small">
                                {{$t((`settings.gender.${userInfo.gender || 'no'}`))}}
                                <font-awesome-icon :icon="['fas', 'caret-down']"/>
                            </div>
                        </template>
                        <template v-slot:dropdown>
                            <div class="dropdown">
                                <div class="option" v-for="gender in otherGender" @click="updateGender(gender)">
                                    {{$t(`settings.gender.${gender}`)}}
                                </div>
                            </div>
                        </template>
                    </Dropdown>
                </div>
            </div>
            <div class="settings__setting">
                <span class="setting__name">{{$t('settings.theme')}}</span>
                <div class="setting__setting setting_theme" v-on:click="changeTheme">
                    <span v-if="dark">Disable dark theme</span>
                    <span v-else>Enable dark theme</span>
                </div>
            </div>
            <div class="settings__setting">
                <span class="setting__name">{{$t('settings.language')}}</span>
                <div class="setting__setting">
                    <locale-changer/>
                </div>
            </div>
            <div class="settings__setting">
                <span class="setting__name">{{$t('settings.logout')}}</span>
                <div class="setting__setting">
                    <a class="setting__logout" @click="logout">{{$t('settings.logout')}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LocaleChanger from '@/components/Settings/local-changer.vue';
    import {Gender} from '../Classes/DefaultData';
    import {mapMutations, mapState} from 'vuex';
    import 'firebase/auth';
    import firebase from 'firebase/app';

    import Loader from '../components/Loader';
    import Dropdown from "../components/Dropdown";

    export default {
        name: 'Settings',
        components: {Dropdown, Loader, LocaleChanger},
        data() {
            return {
                userInfo: {},
                timers: {},
                loading: true,
            };
        },
        methods: {
            ...mapMutations(['setDark', 'state_updateDisplayname']),
            changeTheme() {
                this.setDark(!this.dark);
                this.$localDataService.updateTheme(this.dark);
            },
            logout() {
                firebase.auth().signOut().then(() => {
                    this.$router.push('/');
                });
            },
            updateGender(gender) {
                this.userInfo.gender = gender;
                this.updateUser();
                this.$refs.dropdown.toggleDropdown();
            },
            updateDisplayname() {
                if (this.timers.displayName) {
                    clearTimeout(this.timers.displayName);
                }
                this.timers.displayName = setTimeout(() => {
                    if (this.userInfo.displayName.length > 0 && this.userInfo.displayName.length <= 32) {
                        firebase.auth().currentUser.updateProfile({displayName: this.userInfo.displayName}).then(() => {
                            this.$apiService.UpdateDisplayName();
                            this.state_updateDisplayname(this.userInfo.displayName);
                            this.$toasters['main'].success('Updated displayname');
                        });
                    }
                }, 2000);
            },
            updateUser() {
                if (this.timers.user) {
                    clearTimeout(this.timers.user);
                }
                this.timers.user = setTimeout(() => {
                    this.$apiService.UpdateUser(this.userInfo).then(() => {
                        this.$toasters['main'].success('Updated your information');
                    });
                }, 2000);
            },
        },
        computed: {
            ...mapState(['dark', 'user']),
            otherGender() {
                return Object.keys(Gender).filter((g) => g !== this.userInfo.gender);
            },
        },
        created() {
            this.$apiService.GetUser(this.user.uid).then((res) => {
                this.userInfo = res;
                if (!this.userInfo.gender) {
                    this.userInfo.gender = '';
                }
            }).finally(() => {
                this.loading = false;
            });
        },
    };
</script>

<style scoped lang="scss">
    @import "../css/variables";
    @import "../css/components/background";
    @import "../css/components/button";

    .settings__wrapper {
        flex-grow: 1;
        width: calc(100% - 400px);
        display: flex;

        .settings {
            box-shadow: $shadow-light;
            flex-basis: 400px;
            flex-grow: 1;
            max-width: 600px;
            max-height: 600px;
            overflow-y: auto;
            background: $background-light;
            align-self: center;
            margin: auto;
            border-radius: $border-radius-1;
            scrollbar-width: none;
            position: relative;

            .settings__loading {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, .3);
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .settings__setting {
                $settings__padding: 8px 12px;

                .setting__name {
                    display: block;
                    padding: $settings__padding;
                    background: $background-light-3;
                    font-weight: bold;
                    color: $color-light-2;
                }

                .setting__setting {
                    padding: $settings__padding;
                    position: relative;

                    &.setting_theme {
                        cursor: pointer;
                    }

                    .gender__selected {
                        display: inline-block;
                        font-weight: bold;
                    }

                    .dropdown {
                        left: 8px;
                    }

                    .setting__logout {
                        margin: 8px 0;
                        display: inline-block;
                        cursor: pointer;
                        padding: 4px 8px;
                        color: white;
                        font-weight: bold;
                        background: $primary-red;
                        border-radius: $border-radius-1;
                    }

                    input, textarea {
                        background: transparent;
                        border: 0;
                        font-size: 18px;
                        color: $color-light;
                        width: 100%;
                        resize: none;
                    }
                }
            }

            .settings__title {
                padding: 8px 12px;
                text-overflow: "..";
                white-space: nowrap;
                overflow: hidden;
                display: block;

                .title {
                    font-size: 36px;
                    margin: 0;
                    position: relative;
                }
            }

            .settings__theme {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .dark {
        .settings__wrapper {
            .settings {
                box-shadow: $shadow-dark;
            }

            .settings__setting {
                .setting__name {
                    background: $background-dark-3;
                    color: $color-dark-2;
                }

                .setting__setting {
                    input, textarea {
                        color: $color-dark;
                    }
                }
            }
        }
    }
</style>
