<template>
    <div class='chat background four'>
        <SitNavbar class="chat__nav" :sitId='id'/>
        <Tabs :pages="tabs">
            <template scope="{page}">
                <span class="tab_link" :class="{active: page.active}">
                    {{page.name}}
                </span>
            </template>
        </Tabs>
    </div>
</template>

<script>
    import SitNavbar from '../components/Sit/SitNavbar';
    import Plans from '../components/Sit/Plans';
    import Messages from '../components/Sit/Messages';
    import Tabs from '../components/Tabs';

    export default {
        name: 'Chat',
        components: {Tabs, Messages, Plans, SitNavbar},
        props: {
            id: String,
        },
        methods: {
            update(newValue, oldValue) {
                this.tabs.forEach((t) => {
                    t.data = {sitId: newValue};
                });
                if (oldValue) {
                    this.$socket.emit('sit-leave', oldValue);
                }
                this.$socket.emit('sit-join', newValue);
            },
            closeListener(sitId) {
                if (this.id == sitId) {
                    this.$router.push('/');
                }
            },
        },
        data() {
            return {
                tabs: [
                    {
                        name: 'Chat',
                        component: Messages,
                        active: true,
                        data: {
                            sitId: this.id,
                        },
                    },
                    {
                        name: 'Plans',
                        component: Plans,
                        active: false,
                        data: {
                            sitId: this.id,
                        },
                    },
                ],
            };
        },
        created() {
            this.$eventBus.$on('cancel_sit', this.closeListener);
        },
        beforeDestroy() {
            this.$eventBus.$off('cancel_sit', this.closeListener)
        },
        watch: {
            id: {
                handler: 'update',
                immediate:
                    true,
            }
            ,
        }
        ,
    }
    ;
</script>

<style scoped lang='scss'>
    @import '../css/components/background';

    .chat {
        height: 100%;
        position: relative;
        width: calc(100% - 400px);
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .chat__nav {
            flex-shrink: 0;
        }

        .tab_link {
            cursor: pointer;
            margin: 0 12px;
            font-size: 18px;
            transition: .4s;

            &.active {
                font-weight: bold;
            }
        }
    }
</style>
