<template>
    <div class="trips" ref="trips">
            <Trips />
    </div>
</template>

<script>
    import Trips from "../components/Sidebar/Trips";

    export default {
        name: 'Test',
        components: {
            Trips,
        },
    };
</script>

<style lang="scss">
    .trips {
        .loader {
            .v-bounce {

                display: flex;
                margin: 24px auto 0 auto;
                align-self: center;
            }
        }

        .trips__add_new {
            .loader {
                .v-bounce {

                    display: flex;
                    margin: 0 auto 16px auto;
                    align-self: center;
                }
            }
        }
    }
</style>

<style scoped lang="scss">
    @import "../css/variables";
    @import "../css/components/button";

    .trips {
        overflow-y: auto;
        height: 100%;

        .no-trips {
            margin: 24px 0;
        }

        .trips__new {
            margin: 12px 18px 12px 18px;
            cursor: pointer;
            display: block;
            text-align: center;
        }

        .trips__add_new {
            padding: 12px 18px;
            margin: 12px 12px;
            border-radius: $border-radius-1;
            background: $background-light-1;
            position: relative;

            .getting_location {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;

                h2 {
                    margin-bottom: 6px;
                }

                span {
                    font-weight: bold;
                    border-radius: $border-radius;
                    padding: 8px 24px;
                    cursor: pointer;
                    margin-bottom: 14px;
                    display: inline-block;
                    font-size: 16px;
                    background: rgba(0, 0, 0, .2);
                }
            }

            .add_new__location {
                display: flex;

                .other {
                    margin-bottom: 4px;
                    color: $primary;
                    font-weight: bold;
                    flex-grow: 1;
                    text-align: center;
                    cursor: pointer;
                }
            }

            .add_new_close {
                position: absolute;
                cursor: pointer;
                right: 8px;
                top: 8px;
                font-size: 18px;
            }

            label {
                font-weight: bold;
            }

            input, textarea {
                resize: none;
                border: 0;
                padding: 8px 12px;
                font-weight: bold;
                color: $secondary;
                font-size: 16px;
                margin: 4px 0 8px 0;
                background: $primary;
                border-radius: $border-radius-1;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    .dark {
        .trips {
            .trips__add_new {
                background: $background-dark-1;
            }
        }
    }
</style>
