<template>
    <div class="trip background four">
        <TripNavigation :loading="loading" :trip="trip" :owner="owner"/>
        <Sits :tripId="id" v-if="owner"/>
        <Foreigner :trip="trip" v-else/>
    </div>
</template>

<script>
    import TripNavigation from '../components/Trip/TripNavigation';
    import {mapState} from 'vuex';
    import Sits from '../components/Trip/Sits';
    import Foreigner from '../components/Trip/Foreigner';

    export default {
        name: 'Trip',
        components: {
            Foreigner,
            Sits, TripNavigation,
        },
        props: {
            id: String,
        },
        data() {
            return {
                trip: {},
                loading: false,
            };
        },
        methods: {
            init() {
                this.loading = true;
                this.$apiService.GetTrip(this.id).then((res) => {
                    this.trip = res;
                }).catch(() => {
                    this.$router.push('/');
                }).finally(() => {
                    this.loading = false;
                });
            },
            closeListener(tripId) {
                if (this.trip.id == tripId) {
                    this.$router.push('/');
                }
            },
        },
        created() {
            this.$eventBus.$on('cancel_trip', this.closeListener);
        },
        beforeDestroy() {
            this.$eventBus.$off('cancel_trip', this.closeListener);
        },
        computed: {
            ...mapState(['user']),
            owner() {
                return this.trip.userId === this.user.uid;
            },
        },
        watch: {
            id: {
                handler: 'init',
                immediate: true,
            },
        },
    };
</script>


<style scoped lang="scss">
    @import "../css/variables";
    @import "../css/components/background";

    .trip {
        flex-grow: 1;
        height: 100%;
        width: calc(100% - 400px);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
</style>
