<template>
    <div @click="copyText">
        <slot/>
    </div>
</template>

<script>
    export default {
        name: 'Copy',
        props: {
            copy: String,
        },
        methods: {
            copyText() {
                try {
                    if (navigator.clipboard) {
                        navigator.clipboard.writeText(this.copy);
                    } else if (window.clipboardData) {
                        window.clipboardData.setData('text', this.copy);
                    } else {
                        this.copyToClipboard();
                    }
                    this.$toasters['main'].success('Copied to Clipboard.');
                } catch (e) {
                    this.$toasters['main'].error('Please copy link manually.');
                }
            },
            copyToClipboard(el) {
                const textArea = document.createElement("textarea");
                textArea.value = text;
                textArea.style.top = "0";
                textArea.style.left = "0";
                textArea.style.position = "fixed";
                document.body.appendChild(textArea);
                const range = document.createRange();
                const selection = window.getSelection();
                range.selectNodeContents(el);
                selection.removeAllRanges();
                selection.addRange(range);
                el.setSelectionRange(0, 999999);
                document.execCommand('copy');
                document.body.removeChild(textArea);
            }
        }
    }
</script>
