<template>
    <div class="counter">
        <span class="count">
            {{count}}
        </span>
        out of
        <span class="max">
            {{max}}
        </span>
        <span v-if="full">
            (max)
        </span>
    </div>
</template>

<script>
    export default {
        name: 'Counter',
        props: {
            count: Number,
            max: Number,
        },
        computed: {
            full() {
                return this.count >= this.max;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../css/variables";

    .counter{
        text-align: center;
        padding: 0 8px;
        font-size: 20px;
        margin: 8px 0;

        .count, .max{
            font-weight: bold;
        }

        .max{
            color: $primary;
        }

        &.max{
            .count{
                color: $primary;
            }
        }
    }
</style>
