<template>
    <div class="empty" :class="{inline: inline}">
        <div class="img" :style="{'max-height': maxHeight + 'px','max-width': maxWidth + 'px'}">
            <img src='../assets/undraw_no_data_qbuo.svg' alt='Nothing here' v-if="mode === 0">
            <img src='../assets/undraw_access_denied_6w73.svg' alt='Nothing here' v-else-if="mode===1">
            <img src='../assets/undraw_before_dawn_bqrj.svg' alt='Nothing here' v-else-if="mode===2">
        </div>
        <slot/>
        <h2 v-if="has_text">{{text}}</h2>
    </div>
</template>

<script>
    export default {
        name: 'Empty',
        props: {
            inline: {
                type: Boolean,
                default: false,
            },
            has_text: {
                type: Boolean,
                default: true,
            },
            mode: {
                type: Number,
                default: 0,
            },
            text: {
                type: String,
                default: 'Nothing here yet.',
            },
            maxHeight: {
                type: Number,
                default: 240,
            },
            maxWidth: {
                type: Number,
                default: 240,
            },
        },
    };
</script>

<style scoped lang="scss">
    .empty {
        &.inline {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;

            img, h2, .img {
                margin: 0;
            }
        }

        .img, img {
            width: 100%;
            display: block;
            margin: auto;
            max-height: 100%;
        }

        h2 {
            text-align: center;
        }
    }
</style>
