<template>
    <div class="scrollable" ref="scrollable" @scroll="scroll">
        <div class="scroll" v-if="showScrollTo">
            <div class="circle" v-if="scrollToDirection === 'top'" @click="scrollToTop">
                <font-awesome-icon :icon="['fas', 'angle-double-up']"/>
            </div>
            <div class="circle" v-if="scrollToDirection === 'bottom'" @click="scrollToBottom">
                <font-awesome-icon :icon="['fas', 'angle-double-down']"/>
            </div>
        </div>
        <template v-if="!activateBottom">
            <slot name="loader" v-if="loading"/>
            <slot name="empty" v-else-if="empty"/>
            <slot name="end" v-else-if="endOfData"/>
        </template>
        <slot name="scroll"/>
        <template v-if="activateBottom">
            <slot name="loader" v-if="loading"/>
            <slot name="empty" v-else-if="empty"/>
            <slot name="end" v-else-if="endOfData"/>
        </template>

    </div>
</template>

<script>
    export default {
        name: 'InfiniteScroll',
        props: {
            activateBottom: {
                type: Boolean,
                default: true,
            },
            callback: Function,
            empty: {
                type: Boolean,
                default: false,
            },
            doStartCall: {
                type: Boolean,
                default: true,
            },
            scrollTo: {
                type: Boolean,
                default: false,
            },
            scrollToDirection: {
                type: String,
                default: 'bottom',
            },
        },
        data() {
            return {
                page: 0,
                endOfData: false,
                loading: false,
                prevHeight: 0,
                showScrollTo: false,
            };
        },
        methods: {
            scrollToTop() {
                this.$refs.scrollable.scrollTop = 0;
            },
            scrollToBottom() {
                this.$refs.scrollable.scrollTop = this.$refs.scrollable.scrollHeight;
            },
            updatePrevHeight() {
                this.prevHeight = this.$refs.scrollable.scrollHeight - this.$refs.scrollable.scrollTop;
            },
            scrollToPrevHeight() {
                this.$refs.scrollable.scrollTop = this.$refs.scrollable.scrollHeight - this.prevHeight
            },
            refresh() {
                this.page = 0;
                this.endOfData = false;
                return this.loadMoreData();
            },
            notScrollToEnd() {
                return this.scrollToDirection === 'bottom' ? !this.bottomOfScrollable() : !this.topOfScrollable();
            },
            endOfScrollable() {
                return this.activateBottom ? this.bottomOfScrollable() : this.topOfScrollable();
            },
            bottomOfScrollable() {
                return this.$refs.scrollable.scrollTop + this.$refs.scrollable.clientHeight === this.$refs.scrollable.scrollHeight;
            },
            topOfScrollable() {
                return this.$refs.scrollable.scrollTop === 0;
            },
            scroll() {
                if (!this.loading && !this.endOfData && this.endOfScrollable()) {
                    this.loadMoreData();
                }
                this.showScrollTo = this.scrollTo && this.notScrollToEnd();
            },
            pageNotFull() {
                return this.$refs.scrollable.clientHeight + 50 >= this.$refs.scrollable.scrollHeight;
            },
            loadMoreData() {
                return new Promise((resolve) => {
                    this.loading = true;
                    this.updatePrevHeight();
                    this.callback(this.page).then(() => {
                        this.page += 1;
                        if (this.pageNotFull()) {
                            this.loadMoreData();
                        } else if (!this.activateBottom) {
                            this.scrollToPrevHeight();
                        }
                    }).catch(() => {
                        this.endOfData = true;
                    }).finally(() => {
                        this.loading = false;
                        resolve();
                    });
                });
            }
        },
        mounted() {
            if (this.doStartCall) {
                this.loadMoreData();
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../css/variables';

    .scrollable {
        overflow-y: hidden;
        height: 100%;

        .scroll {
            position: absolute;
            right: 8px;
            bottom: 96px;
            z-index: 1;

            .circle {
                cursor: pointer;
                border-radius: 50%;
                color: $secondary;
                $size: 36px;
                width: $size;
                height: $size;
                line-height: $size;
                text-align: center;
                background: $primary;
                box-shadow: $shadow-light-2;
            }
        }
    }
</style>
