<template>
    <div class="backdrop">
        <div class="modal background one" ref="modal">
            <font-awesome-icon class="close" @click="close" :icon="['fas', 'times']"/>
            <slot/>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Modal',
        methods: {
            close() {
                this.$emit('close');
            },
            clickOutside(e) {
                if (!this.$refs.modal.contains(e.target)) {
                    this.$emit('close');
                }
            }
        },
        created() {
            document.addEventListener('click', this.clickOutside);
        },
        beforeDestroy() {
            document.removeEventListener('click', this.clickOutside);
        }
    }
</script>

<style scoped lang="scss">
    @import "../css/components/background";
    @import "../css/variables";

    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .50);
        display: flex;
        justify-content: center;

        .modal {
            position: relative;
            max-width: 1000px;
            text-align: center;
            border-radius: $border-radius-1;
            box-shadow: $shadow-dark;
            padding: 64px 32px;
            margin: auto;

            .close {
                position: absolute;
                top: 12px;
                cursor: pointer;
                font-size: 24px;
                right: 16px;
            }
        }
    }
</style>
