<template>
    <div class="navbar__outside">
        <div class="navbar__inside">
            <Loader v-if="loading" :color="'white'"/>
            <div class="navbar__content" v-else>
                <slot/>
            </div>
        </div>
    </div>
</template>

<script>
    import Loader from './Loader';

    export default {
        name: 'Navbar',
        components: {Loader},
        props: {
            loading: Boolean,
        }
    }
</script>

<style scoped lang="scss">
    @import "../css/variables";

    .navbar__outside {
        background: $primary;
        width: 100%;
        flex-shrink: 0;
        position: relative;
        z-index: 1;
        box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.12);

        .navbar__inside {
            padding: 0 16px;

            .navbar__content {
                display: flex;
            }
        }
    }


</style>
