<template>
    <div class="menu" @click.prevent>
        <Dropdown>
            <template v-slot:dropdown_activator>
                <div class="icon_circle">
                    <font-awesome-icon :icon="['fas', 'ellipsis-v']"/>
                </div>
            </template>
            <template v-slot:dropdown>
                <slot name="dropdown"/>
            </template>
        </Dropdown>
    </div>
</template>

<script>
    import Dropdown from './Dropdown';
    export default {
        name: 'Options',
        components: {Dropdown}
    }
</script>

<style lang="scss">
    .has_options_menu{
        &:hover{
            .menu{
                .icon_circle{
                    display: block;
                }

            }
        }
    }
    @media all and (max-width: 1000px) {
        .has_options_menu{
            .menu {
                .icon_circle{
                    display: block!important;
                }
            }
        }
    }

</style>

<style scoped lang="scss">
    @import "../css/variables";
    .menu{
        position: relative;
        margin-left: auto;

        .icon_circle{
            display: none;
            $size: 36px;
            height: $size;
            width: $size;
            text-align: center;
            cursor: pointer;
            transition: .4s;
            line-height: $size;
            border-radius: 50%;

            &:hover{
                background: $background-light-1;
            }
        }


    }

    .dark{
        .menu{
            .icon_circle{
                &:hover{
                    background: $background-dark-1;
                }
            }

        }
    }
</style>
