<template>
    <div class="rating_bar">
        <div class="rating_bar__bar" :style="{width:rating +'%'}"></div>
    </div>
</template>

<script>
    export default {
        name: 'Ratingbar',
        props: {
            rating: Number,
        },
    };
</script>

<style scoped lang="scss">
    @import "../css/variables";
    .rating_bar{
        width: 80px;
        height: 10px;
        background: $background-light-3;
        border: 1px solid $primary;
        border-radius: $border-radius;
    }

    .rating_bar__bar{
        background: $primary;
        height: 10px;
        border-radius: $border-radius;
    }
</style>
