<template>
    <div class="tabs">
        <div class="tabs_menu" :style="menu_style">
            <span v-for="page in pages" @click="activate(page)" :ref="page.name">
                <slot :page="page"/>
            </span>
            <slot name="tabs_menu_links"/>
            <div class="menu__indicator" :style="{...indicator, ...{background: slider_color}}"></div>
        </div>
        <slot name="tab_content">
            <transition name="tabs" mode="out-in">
                <keep-alive>
                    <component class="content no_scrollbar" :is="activeTab.component" :data="activeTab.data"/>
                </keep-alive>
            </transition>
        </slot>
    </div>
</template>

<script>
    export default {
        name: 'Tabs',
        props: {
            pages: Array,
            border: {
                default: true,
                type: Boolean,
            },
            slider_color: String,
        },
        data() {
            return {
                isMounted: '',
            }
        },
        methods: {
            activate(tab) {
                this.pages.forEach((t) => t.active = false);
                tab.active = true;
            },
        },
        computed: {
            activeTab() {
                return this.pages.find((tab) => tab.active) || this.pages[0];
            },
            indicator() {
                return !this.isMounted ? {} : {
                    left: `${this.$refs[this.activeTab.name][0].firstChild.offsetLeft}px`,
                    width: `${this.$refs[this.activeTab.name][0].firstChild.getBoundingClientRect().width}px`,
                };
            },
            menu_style() {
                if (!this.border) {
                    return {border: 'none'};
                }
            },
        },
        mounted() {
            this.isMounted = true;
        },
    }
</script>

<style>
    .tabs-enter-active {
        transition: all .3s;
    }

    .tabs-leave-active {
        transition: all .3s;
    }

    .tabs-enter, .tabs-leave-to {
        opacity: 0;
    }

    .tabs-leave-to {
        transform: translateX(200px);
    }
</style>

<style scoped lang="scss">
    @import "../css/variables";
    @import '../css/components/background';

    .tabs {
        display: flex;
        overflow-x: hidden;
        flex-direction: column;
        overflow-y: auto;
        height: 100%;

        .tabs_menu {
            padding: 12px 16px;
            flex-shrink: 0;
            max-width: 100%;
            overflow-x: auto;
            display: flex;
            border-bottom: 1px solid $border-light;
            position: relative;

            .menu__indicator {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 64px;
                height: 4px;
                border-top-left-radius: $border-radius-1;
                border-top-right-radius: $border-radius-1;
                background: $primary-gradient;
                will-change: left, width;
                transition: left .6s, width .6s;
            }
        }
    }

    .dark {
        .tabs {
            .tabs_menu {
                border-bottom: 1px solid $border-dark;
            }
        }
    }

</style>
