<template>
    <div class="user_stats">
        <Loader v-if="loading" :scale=".4"/>
        <div class="stats" v-else>
            <div class="stat">
                <p class="stat__number">{{userRatingInfo.tripRating}}%</p>
                <p class="stat__name">{{$t('user.tripper')}}</p>
            </div>
            <div class="stat">
                <p class="stat__number">{{userRatingInfo.sitRating}}%</p>
                <p class="stat__name">{{$t('user.sitter')}}</p>
            </div>
            <div class="stat">
                <p class="stat__number">{{userRatingInfo.tripRatingCount}}</p>
                <p class="stat__name">{{$t('user.trips')}}</p>
            </div>
            <div class="stat">
                <p class="stat__number">{{userRatingInfo.sitRatingCount}}</p>
                <p class="stat__name">{{$t('user.sits')}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import Loader from './Loader';

    export default {
        name: 'UserStats',
        components: {Loader},
        props: {
            userId: String,
        },
        data() {
            return {
                userRatingInfo: {
                    tripRating: null,
                    sitRating: null,
                    tripRatingCount: null,
                    sitRatingCount: null,
                },
                loading: false,
            }
        },
        created() {
            this.loading = true;
            this.$apiService.getUserRatingInfo(this.userId).then((res) => {
                this.userRatingInfo = res;
            }).catch(() => {
                this.$toasters['main'].error('Could not get your rating statistics')
            }).finally(() => {
                this.loading = false;
            })
        }
    }
</script>

<style scoped lang="scss">
    @import "../css/variables";

    .user_stats {
        margin: 8px 0;

        .stats {
            display: flex;

            .stat {
                margin-right: 12px;
                flex-grow: 1;

                .stat__number {
                    color: $primary;
                    font-weight: bold;
                    margin: 0;
                    font-size: 14px;
                }

                .stat__name {
                    color: $color-light-2;
                    font-weight: bold;
                    margin: 0;
                    font-size: 12px;
                }
            }
        }
    }

    .dark {
        .user_stats {
            .stats {
                .stat {
                    .stat__name {
                        color: $color-dark-2
                    }
                }
            }

        }
    }
</style>
