@import './variables';

.vdp-datepicker {
  input {
    display: none;
  }

  .vdp-datepicker__calendar {
    right: 0;
    border: 0;
    border-radius: $border-radius-1;
    box-shadow: $shadow-light-2;
    color: $color-light-1;
    padding: 8px;

    .cell {

      border: none !important;

      &.selected {
        background: transparent;
      }

      &.day {
        border-radius: 50%;
      }

      &:not(.day) {
        border-radius: $border-radius-1;
      }

      &:not(.disabled):not(.day-header):not(.blank):hover {
        background: $primary !important;
      }
    }
  }
}


.dropdown{
  background: $background-light;
  color: $color-light;
  right: 0;
  top: 100%;
  position: absolute;
  padding: 8px 0;
  z-index: 3;
  box-shadow: $shadow-light-2;
  border-radius: $border-radius-1;
  width: max-content;
  .option{
    cursor: pointer;
    transition: .4s;
    display: block;
    padding: 8px 12px;
    &:hover{
      background: rgba(0,0,0,.12);
    }
  }
}


.dark {
  .dropdown{
    background: $background-dark;
    color: $color-dark;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.6);
    .option{
      &:hover{
        background: rgba(255,255,255,.12);
      }
    }
  }

  .vdp-datepicker {
    header {
      .prev:not(.disabled):hover, .next:not(.disabled):hover, .up:not(.disabled):hover {
        background: $secondary;
      }

      .prev::after {
        border-right-color: $color-dark-1;
      }

      .next::after {
        border-left-color: $color-dark-1;
      }

      .up {
        color: $color-dark-1;
      }
    }

    .vdp-datepicker__calendar {
      background: $background-dark;
      box-shadow: $shadow-dark-2;


      .cell {
        color: $color-dark;

        &.disabled {
          color: rgba(255, 255, 255, .48);
        }

        &:not(.disabled):not(.day-header):not(.blank):hover {
          background: $secondary !important;
        }
      }
    }
  }
}
