$background-dark: #202124;
$background-dark-1: rgba(255, 255, 255, 0.09);
$background-dark-2: rgba(255, 255, 255, 0.12);
$background-dark-3: RGBA(255, 255, 255, 0.03);
$color-dark: white;
$color-dark-1: RGBA(255, 255, 255, 0.8);
$color-dark-2: RGBA(255, 255, 255, 0.625);
$shadow-dark: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
$shadow-dark-1: 2px 0 8px 0 rgba(0, 0, 0, 0.12);
$shadow-dark-2: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
$border-dark: rgba(255, 255, 255, 0.12);

$background-light: white;
$background-light-1: rgba(0, 0, 0, 0.09);
$background-light-2: rgba(0, 0, 0, 0.12);
$background-light-3: RGBA(124, 234, 156, 0.16);
$color-light: black;
$color-light-1: RGBA(0, 0, 0, 0.8);
$color-light-2: RGBA(0, 0, 0, 0.625);
$shadow-light: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
$shadow-light-1: 2px 0 8px 0 rgba(0, 0, 0, 0.08);
$shadow-light-2: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
$border-light: rgba(0, 0, 0, 0.12);

$border-radius: 4px;
$border-radius-1: 0.4rem;

$primary: #7cea9c;
$primary-inactive: RGBA(124, 234, 156, .35);
$secondary: #5aa870;
$secondary-inactive: RGBA(90, 168, 112, .45);
$primary-red: #d81e5b;
$primary-gradient: linear-gradient(135deg, RGBA(124, 234, 156, 1) 10%, rgb(182, 244, 116) 100% );
$primary-red-gradient: linear-gradient(135deg, RGBA(216, 30, 91, 1) 10%, rgb(255, 120, 93) 100%);

$transition-1: 0.4s;
