<template>
    <InfiniteScroll class="plans" :empty="plans.length === 0" :callback="loadData">
        <template v-slot:scroll>
            <Plan v-for="plan in plans" :plan="plan"/>
        </template>
        <template v-slot:loader>
            <Loader/>
        </template>
        <template v-slot:empty>
            <div class="no-plans">
                <Empty :text="'No Plans Yet!'"/>
            </div>
        </template>
    </InfiniteScroll>
</template>

<script>
    import Plan from './Plan';
    import Empty from '../Empty';
    import Loader from '../Loader';
    import InfiniteScroll from '../InfiniteScroll';

    export default {
        name: 'Plans',
        components: {
            InfiniteScroll,
            Loader,
            Plan, Empty,
        },
        data() {
            return {
                loaders: {
                    loading: true,
                },
                plans: [],
            };
        },
        methods: {
            loadData(page) {
                return new Promise((resolve, reject) => {
                    this.$apiService.getPlans(page).then((res) => {
                        if (res.length > 0) {
                            this.plans.push(...res);
                            resolve();
                        }
                    }).catch(() => {
                        this.$toasters['main'].error('Could not get plans');
                    }).finally(() => {
                        reject();
                    });
                });
            }
        },
        mounted() {
            this.$eventBus.$on('add_plan', (plan) => {
                this.plans.push(plan);
            });
            this.$eventBus.$on(`remove_plan`, (planId) => {
                if (this.plans.findIndex((p) => p.id == planId) > -1) {
                    this.plans.splice(this.plans.findIndex((p) => p.id === planId), 1);
                }
            });
            this.$eventBus.$on('cancel_sit', (sitId) => {
                this.plans.filter((p) => p.sitId == sitId).forEach((p) => {
                    this.plans.splice(this.plans.findIndex((p2) => p === p2), 1);
                })
            });
        },
    };
</script>

<style scoped lang="scss">
    .plans {
        overflow-y: auto;
        height: 100%;

        .no-plans {
            margin-top: 18px;
        }
    }
</style>
