<template>
    <SidebarItem class="plan" :link="`/sit/${plan.sitId}`" :active="plan.accepted">
        <template>
            <div class="plan__info">
                <span class="info__name">
                    {{new Date(plan.numericDate).toLocaleDateString() }}
                </span>
                <div class="info__tags">
                <span class="tag">
                    {{(plan.creatorId === user.uid) ? 'Yours' : 'Invite'}}
                </span>
                    <div class="ratings" v-if="plan.ratings">
                        <span class="tag rating" :class="{good: rating.rating}" v-for="rating in plan.ratings">
                            {{rating.ratable}}
                        </span>
                    </div>
                </div>
            </div>
        </template>
        <template v-slot:dropdown>
            <div class="dropdown">
                <div class="option">
                    <span @click="deletePlan" v-if="!loading">
                        Delete Plan
                    </span>
                    <Loader :scale="0.3" v-else/>
                </div>
            </div>
        </template>
    </SidebarItem>
</template>

<script>
    import {mapState} from 'vuex';
    import SidebarItem from './SidebarItem';
    import Loader from '../Loader';
    import PlanEvents from '../../mixins/PlanEvents';

    export default {
        name: 'Plan',
        components: {Loader, SidebarItem},
        mixins: [PlanEvents],
        props: {
            plan: Object,
        },
        data() {
            return {
                loading: false,
            };
        },
        computed: {
            ...mapState(['user']),
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";

    .plan {
        .plan__info {
            margin-left: 18px;
            margin-top: 6px;

            .info__name {
                font-weight: bold;
                color: $color-light;
            }

            .info__status {
                display: block;
                color: $color-light-1;
                font-weight: bold;
            }

            .info__tags {
                display: flex;

                .tag {
                    flex-grow: 1;
                    color: $color-light-2;
                    margin-right: 8px;
                    font-size: 14px;

                    &.rating {
                        color: $primary-red !important;
                        font-weight: bold;

                        &.good {
                            color: $primary !important;
                        }
                    }
                }
            }
        }
    }

    .dark {
        .plan {
            .plan__info {
                .info__name {
                    color: $color-dark;
                }

                .info__status {
                    color: $color-dark-1
                }

                .info__tags {
                    .tag {
                        color: $color-dark-2;
                    }
                }
            }
        }
    }
</style>
