<template>
    <Tabs class="sidebar__content background one" :pages="tabs">
        <template slot-scope="{page}">
            <span class="menu__name" :id="page.name" :class="{active: page.active}">
                {{$t(`sidebar_content.${page.name}`)}}
            </span>
        </template>
    </Tabs>
</template>

<script>
    import Sits from './Sits';
    import Trips from './Trips';
    import Plans from './Plans';
    import Tabs from '../Tabs';

    export default {
        name: 'SidebarContent',
        data() {
            return {
                isMounted: '',
                tabs: [{
                    name: 'sits',
                    active: true,
                    component: Sits,
                }, {
                    name: 'trips',
                    active: false,
                    component: Trips,
                }, {
                    name: 'plans',
                    active: false,
                    component: Plans,
                },
                ],
            };
        },
        components: {Tabs, Sits, Trips, Plans},
        methods: {
            activate(tab) {
                this.tabs.forEach((t) => t.active = false);
                tab.active = true;
            },
        },
        computed: {
            activeTab() {
                return this.tabs.find((tab) => tab.active);
            },
            indicator() {
                if (!this.isMounted)
                    return;
                return {
                    left: `${this.$refs[this.activeTab.name][0].getBoundingClientRect().left}px`,
                    width: `${this.$refs[this.activeTab.name][0].getBoundingClientRect().width}px`,
                };
            },
        },
        mounted() {
            this.isMounted = true;
        }
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";
    @import '../../css/components/background';

    .sidebar__content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 100%;

        .sidebar__content__content {
            overflow-y: auto;
            display: flex;

            height: 100%;

            .content {
                overflow-y: auto;
                flex-grow: 1;
            }
        }

        .menu__name {
            font-weight: bold;
            color: $color-light-2;
            transition: .4s;
            margin: 0 12px 0 0;
            cursor: pointer;
            position: relative;
            display: block;

            &:hover, &.active, &.home {
                color: $color-light;
            }

            &::after {
                left: 0;
                bottom: -12px;
                position: absolute;
                width: 100%;
                height: 4px;
                border-top-left-radius: $border-radius-1;
                border-top-right-radius: $border-radius-1;
                background: $color-light;
                transition: .2s;
                content: '';
                opacity: 0;
            }

            &:not(.active):not(.home):hover::after {
                opacity: .2;
            }
        }


    }

    .dark {
        .sidebar__content {
            .menu__name {
                color: $color-dark-2;

                &::after {
                    background: $color-dark;
                }


                &:hover, &.active, &.home {
                    color: $color-dark;
                }
            }
        }
    }
</style>
