<template>
    <router-link tag="div" :to="`${link}`" class="sidebar_item has_options_menu" :class="{ open: active}">
        <div class="sidebar_item__status"></div>
        <slot/>
        <Options class="menu">
            <template v-slot:dropdown>
                <slot name="dropdown"/>
            </template>
        </Options>
    </router-link>
</template>

<script>
    import Dropdown from '../Dropdown';
    import Options from '../Options';

    export default {
        name: 'SidebarItem',
        components: {Options, Dropdown},
        props: {
            link: String,
            active: Boolean,
        }
    }
</script>

<style scoped lang="scss">
    @import "../../css/variables";

    .sidebar_item {
        cursor: pointer;
        position: relative;
        display: flex;
        margin: -1px 0 0 -1px;
        padding: 12px 16px;
        clear: both;
        border: 1px solid transparent;
        border-collapse: collapse;

        .sidebar_item__status {
            $size: 48px;
            flex-shrink: 0;
            border-radius: 50%;
            height: $size;
            width: $size;
            background: $primary-red-gradient;
        }

        &:after {
            content: '';
            height: 100%;
            opacity: 0;
            transition: opacity .6s;
            background: $primary-red-gradient;
            position: absolute;
            right: 0;
            top: 0;
        }

        &:hover, &.router-link-exact-active {
            border: 1px solid $border-light;

            &:after {
                opacity: 1;
                width: 4px;
            }
        }

        &:hover {
            .menu {
                display: block;
            }
        }

        &.open {
            &:after {
                background: $primary-gradient !important;;
            }

            .sidebar_item__status {
                background: $primary-gradient;
            }
        }
    }


    .dark {
        .sidebar_item {
            &:hover, &.router-link-exact-active {
                border: 1px solid $border-dark;
            }
        }
    }

</style>
