<template>
    <div class="sidebar" :class="{enable:enableMenu}">
        <div class="sidebar__content">
            <div class="sidebar__enable">
                <font-awesome-icon :icon="['fas', 'bars']" @click="toggleMenu"/>
            </div>
            <div class="sidebar__wrapper" v-show="showMenu">
                <User/>
                <transition name="fade" mode="out-in">
                    <router-link tag="div" to="/" class="home_link" v-if="$route.path !== '/'">{{
                        $t('sidebar_content.home') }}
                    </router-link>
                </transition>
                <SidebarContent/>
            </div>
        </div>
    </div>
</template>

<script>
    import User from './User';
    import SidebarContent from './SidebarContent';

    export default {
        name: 'GlobalSidebar',
        components: {
            SidebarContent,
            User,
        },
        data() {
            return {
                enableMenu: false,
                showMenu: true,
            };
        },
        methods: {
            toggleMenu() {
                this.enableMenu = !this.enableMenu;
                this.calcShow_Menu();
            },
            calcShow_Menu() {
                this.showMenu = this.enableMenu || window.innerWidth > 1000;
            },
        },
        mounted() {
            window.addEventListener('resize', this.calcShow_Menu);
            this.calcShow_Menu();
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.calcShow_Menu);
        },
    };
</script>

<style scoped lang="scss">
    @import '../../css/variables';

    .sidebar {
        width: 300px;
        box-shadow: $shadow-light-1;
        z-index: 2;
        background: $background-light;
        display: flex;
        height: 100%;

        .sidebar__content {
            display: flex;
            flex-grow: 1;
            max-width: 100%;
            height: 100%;

            .sidebar__wrapper {
                display: flex !important;
                flex-direction: column;
                flex-grow: 1;
                max-width: 100%;
                transition: 0.5s;
                overflow-y: auto;

                &[style*="display: none;"] {
                    opacity: 0;
                    pointer-events: none;
                    user-select: none;
                }

                .home_link {
                    text-align: center;
                    background: $primary;
                    font-weight: bold;
                    color: $secondary;
                    cursor: pointer;
                    font-size: 20px;
                    padding: 12px 0;
                }
            }

            .sidebar__enable {
                display: none;
            }
        }

    }

    .dark {
        .sidebar {
            box-shadow: $shadow-dark-1;
            background: $background-dark;
        }
    }

    @media all and (max-width: 1000px) {
        .sidebar {
            flex-basis: auto;
            width: 55px;
            transition: .8s;

            .sidebar__content {
                .sidebar__enable {
                    padding: 12px 12px;
                    display: block;

                    svg {
                        font-size: 32px;
                    }
                }
            }

            &.enable {
                width: 100%;
                position: absolute;
                z-index: 2;
            }
        }

    }
</style>
