<template>
    <SidebarItem class="sit" :link="`/sit/${sit.id}`" :active="sit.trip.open">
        <template>
            <div class="sit__info">
               <span class="info__name">
                   {{ sit.trip.name }}
               </span>
                <div class="info__tags">
                    <span class="tag">{{$t(`substances.${sit.trip.substance}`)}}</span>
                    <span class="tag">{{getDistance()}}</span>
                    <span class="tag" v-if="sit.lastMessage">{{ timeSince(sit.lastMessage) }}</span>
                </div>
            </div>
        </template>
        <template v-slot:dropdown>
            <div class="dropdown">
                <div class="option">
                    <span @click="deleteSit" v-if="!loading">Delete Sit</span>
                    <Loader :scale="0.3" v-else/>
                </div>
            </div>
        </template>
    </SidebarItem>
</template>

<script>
    import timeSince from '../../services/TimeDifferenceService';
    import SidebarItem from './SidebarItem';
    import {deleteSit} from '../../services/SitService';
    import Loader from '../Loader';

    export default {
        name: 'Sit',
        components: {Loader, SidebarItem},
        props: {
            sit: Object,
        },
        data() {
            return {
                loading: false,
            }
        },
        created() {
            this.$socket.emit(`trip-join`, this.sit.trip.id);
        },
        methods: {
            deleteSit() {
                this.loading = true;
                deleteSit(this, this.sit, () => {
                    this.loading = false;
                });
            },
            timeSince(date) {
                return timeSince(date);
            },
            getDistance() {
                return this.$geoService.calculateDistance(this.sit.trip.longitude, this.sit.trip.latitude);
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";

    .sit {


        .sit__info {
            margin-left: 18px;
            margin-top: 6px;
            text-overflow: "..";
            white-space: nowrap;
            overflow: hidden;
            display: block;

            .info__name {
                font-weight: bold;
                color: $color-light;
                text-transform: capitalize;

            }

            .info__tags {
                display: flex;

                .tag {
                    color: $color-light-2;
                    margin-right: 8px;
                    font-size: 14px;
                }
            }
        }

    }


    .dark {
        .sit {
            .sit__info {
                .info__name {
                    color: $color-dark;
                }

                .info__tags {
                    .tag {
                        color: $color-dark-1;
                    }
                }
            }
        }
    }
</style>
