<template>
    <InfiniteScroll class="sits" :empty="sits.length === 0" :callback="loadData">
        <template v-slot:scroll>
            <Sit v-for="sit in sits" :sit="sit"/>
        </template>
        <template v-slot:loader>
            <Loader/>
        </template>
        <template v-slot:empty>
            <div class="no-plans">
                <Empty :text="'No Sits Yet!'"/>
            </div>
        </template>
    </InfiniteScroll>
</template>

<script>
    import Sit from './Sit';
    import Empty from '../Empty';
    import Loader from '../Loader';
    import InfiniteScroll from '../InfiniteScroll';

    export default {
        name: 'Sits',
        components: {InfiniteScroll, Loader, Sit, Empty},
        data() {
            return {
                sits: [],
            };
        },
        methods: {
            loadData(page) {
                return new Promise((resolve, reject) => {
                    this.$apiService.GetSits(page).then((res) => {
                        if (res.length > 0) {
                            this.sits.push(...res);
                            resolve();
                        }
                    }).catch(() => {
                        this.$toasters['main'].error('Could not get sits');
                    }).finally(() => {
                        reject();
                    });
                });
            },
        },
        mounted() {
            this.$eventBus.$on('sit', (sit) => {
                this.sits.push(sit);
            });
            this.$eventBus.$on('cancel_trip', (tripId) => {
                const removedSit = this.sits.find((s) => {
                    return s.trip.id == tripId;
                });
                if (removedSit) {
                    this.$eventBus.$emit('cancel_sit', removedSit.id);
                }
            });
            this.$eventBus.$on('cancel_sit', (sitId) => {
                this.sits.splice(this.sits.findIndex((s) => s.id == sitId), 1);
            });
        },
    };
</script>

<style scoped lang="scss">
    .sits {
        overflow-y: auto;
        height: 100%;

        .no-sits {
            margin-top: 18px;
        }
    }
</style>
