<template>
    <div class="substance_select">
        <Dropdown ref="dropdown">
            <template v-slot:dropdown_activator>
                <span class="select__tag">
                    {{$t(`substances.${substance}`)}}
                    <font-awesome-icon :icon="['fas', 'angle-down']"/>
                </span>
            </template>
            <template v-slot:dropdown>
                <div class="dropdown">
                    <span class="option" v-for="substance in getOtherSubstances()"
                          @click="select(substance)">{{$t('substances.' + substance)}}</span>
                </div>
            </template>
        </Dropdown>
    </div>
</template>

<script>
    import {Substances} from '../../Classes/DefaultData';
    import Dropdown from '../Dropdown';

    export default {
        name: 'SubstanceSelect',
        components: {Dropdown},
        methods: {
            getOtherSubstances() {
                return Object.keys(Substances).filter((s) => this.substance !== s);
            },
            select(substance) {
                this.$emit('select', substance);
                this.substance = substance;
                this.$refs.dropdown.toggleDropdown();
            },
        },
        data() {
            return {
                substance: 'no',
            };
        },
    };
</script>

<style scoped lang="scss">
    @import '../../css/variables';

    .substance_select {
        position: relative;

        .select__tag {
            color: $secondary;
            font-size: 16px;
            cursor: pointer;
            background: $primary;
            border-radius: $border-radius-1;
            display: block;
            padding: 8px 12px;
            margin-bottom: 8px;
            font-weight: bold;
        }

        .dropdown {
            left: 0;
        }
    }

    .dark {
        .substance_select {
            .select__tag {
                .select__dropdown {
                    box-shadow: $shadow-dark-2;
                }
            }
        }
    }
</style>
