<template>
    <InfiniteScroll class="trips" :empty="trips.length === 0" :callback="loadData">
        <template v-slot:scroll>
            <Counter :max="10" :count="trips.length"/>
            <div class="add" v-if="notFull">
                <transition name="fade" mode="out-in">
                    <a class="trips__new button bold main" id="toggle_add_trip" v-if="!view_add"
                       @click="view_add = true">{{$t('trips.new')}}</a>
                    <div class="trips__add_new" v-else>
                        <div class="getting_location" v-if="!location">
                            <h2>Trying to access location...</h2>
                            <span class="button button main bold" @click="getLocation">Retry</span>
                        </div>
                        <div v-else>
                            <font-awesome-icon :icon="['fas', 'times']" class="add_new_close"
                                               @click="view_add = false"/>
                            <Loader v-if="loaders.adding"/>
                            <div class="add_new__form" v-else>
                                <label id="trip_name">
                                    {{$t('trips.name')}}
                                    <input type="text" placeholder="New Trip" v-model="trip_name"
                                           @keydown.enter="addTrip">
                                </label>
                                <SubstanceSelect @select="value => trip_substance = value"
                                                 @keydown.enter="addTrip"/>
                                <label id="trip_description">
                                    {{$t('trips.description')}}
                                    <textarea placeholder="Some more important information"
                                              v-model="trip_description"
                                              @keydown.enter="addTrip"></textarea>
                                </label>
                                <div class="add_new__location" v-if="false">
                                    <div class="other">
                                        {{$t('trips.other')}}
                                    </div>
                                </div>
                            </div>
                            <a class="trips__new button main bold" @click="addTrip">{{$t('trips.add')}}</a>
                        </div>
                    </div>
                </transition>
            </div>
            <transition-group name="fade" mode="out-in">
                <Trip v-for="trip in trips" :trip="trip" :key="trip.id"/>
            </transition-group>
        </template>
        <template v-slot:empty>
            <div class="no-trips">
                <Empty :text="'No Trips Yet!'"/>
            </div>
        </template>
        <template v-slot:loader>
            <Loader/>
        </template>
    </InfiniteScroll>
</template>

<script>
    import Trip from './Trip';
    import SubstanceSelect from './SubstanceSelect';
    import Empty from '../Empty';
    import {mapMutations, mapState} from 'vuex';
    import Loader from '../Loader';
    import InfiniteScroll from '../InfiniteScroll';
    import Counter from '../Counter';

    export default {
        name: 'Trips',
        components: {
            Counter,
            InfiniteScroll,
            Loader,
            Empty, SubstanceSelect, Trip,
        },
        data() {
            return {
                view_add: false,
                trips: [],
                trip_name: '',
                trip_description: '',
                trip_substance: '',
                loaders: {
                    adding: false,
                },
            };
        },
        methods: {
            ...mapMutations(['setLocation']),
            getLocation() {
                this.$geoService.getLocation().then((position) => {
                    this.setLocation(position.coords);
                }).catch((e) => {
                    this.$toasters['main'].error(e);
                });
            },
            async loadData(page) {
                return new Promise((resolve, reject) => {
                    this.$apiService.GetTrips(page).then((res) => {
                        if (res.length > 0) {
                            this.trips.push(...res);
                            resolve();
                        }
                    }).catch(() => {
                        this.$toasters['main'].error('Could not get trips');
                    }).finally(() => {
                        reject();
                    });
                });
            },
            addTrip() {
                if (this.trip_name.length > 0 && this.trip_substance.length > 0) {
                    this.loaders.adding = true;
                    this.$apiService.AddTrip({
                        name: this.trip_name,
                        description: this.trip_description,
                        substance: this.trip_substance,
                        latitude: this.location.latitude,
                        longitude: this.location.longitude,
                        open: true,
                    }).then((response) => {
                        this.trip_name = '';
                        this.trip_description = '';
                        this.trip_substance = 'no';
                        this.$toasters['main'].success('Trip created');
                        this.trips.push(response);
                        this.$router.push(`/trip/${response.id}`);
                        this.view_add = false;
                    }).catch(() => {
                        this.$toasters['main'].error('Could not create trip');
                    }).finally(() => {
                        this.loaders.adding = false;
                    });
                } else {
                    this.$toasters['main'].error('Fill in all information');
                }
            },
        },
        computed: {
            ...mapState(['location']),
            notFull() {
                return this.trips.length < 10;
            }
        },
        mounted() {
            this.$eventBus.$on('cancel_trip', (tripId) => {
                this.trips.splice(this.trips.findIndex((t) => t.id == tripId), 1);
            });
            this.$eventBus.$on('update_trip', (trip) => {
                    this.trips.splice(this.trips.findIndex((t) => t.id == trip.id), 1, trip);
                },
            );
        },
    };
</script>

<style lang="scss">
    .trips {
        .loader {
            .v-bounce {

                display: flex;
                margin: 24px auto 0 auto;
                align-self: center;
            }
        }

        .trips__add_new {
            .loader {
                .v-bounce {

                    display: flex;
                    margin: 0 auto 16px auto;
                    align-self: center;
                }
            }
        }
    }
</style>

<style scoped lang="scss">
    @import "../../css/variables";
    @import "../../css/components/button";

    .trips {
        overflow-y: auto;
        height: 100%;

        .no-trips {
            margin: 24px 0;
        }

        .trips__new {
            margin: 12px 18px 12px 18px;
            cursor: pointer;
            display: block;
            text-align: center;
        }

        .trips__add_new {
            padding: 12px 18px;
            margin: 12px 12px;
            border-radius: $border-radius-1;
            background: $background-light-1;
            position: relative;

            .getting_location {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;

                h2 {
                    margin-bottom: 6px;
                }

                span {
                    font-weight: bold;
                    border-radius: $border-radius;
                    padding: 8px 24px;
                    cursor: pointer;
                    margin-bottom: 14px;
                    display: inline-block;
                    font-size: 16px;
                    background: rgba(0, 0, 0, .2);
                }
            }

            .add_new__location {
                display: flex;

                .other {
                    margin-bottom: 4px;
                    color: $primary;
                    font-weight: bold;
                    flex-grow: 1;
                    text-align: center;
                    cursor: pointer;
                }
            }

            .add_new_close {
                position: absolute;
                cursor: pointer;
                right: 8px;
                top: 8px;
                font-size: 18px;
            }

            label {
                font-weight: bold;
            }

            input, textarea {
                resize: none;
                border: 0;
                padding: 8px 12px;
                font-weight: bold;
                color: $secondary;
                font-size: 16px;
                margin: 4px 0 8px 0;
                background: $primary;
                border-radius: $border-radius-1;
                width: 100%;
                box-sizing: border-box;

                &::-webkit-input-placeholder {
                    color: $secondary-inactive;
                }
            }
        }
    }

    .dark {
        .trips {
            .trips__add_new {
                background: $background-dark-1;
            }
        }
    }
</style>
