<template>
    <SidebarItem class="trip" :link="`/trip/${trip.id}`" :active="trip.open">
        <template>
            <div class="trip__status"></div>
            <div class="trip__info">
                <span class="info__name">
                    {{ trip.name }}
                </span>
                <div class="info__tags">
                    <span class="tag">{{$t(`substances.${trip.substance}`)}}</span>
                    <span class="tag" v-if="trip.lastInfo">{{ timeSince(trip.lastInfo) }}</span>
                </div>
            </div>
        </template>
        <template v-slot:dropdown>
            <div class="dropdown">
                <div class="option">
                    <Copy :copy="`https://tripsitter.dev/trip/${trip.id}`">
                        <span>Copy link</span>
                    </Copy>
                </div>
                <div class="option">
                    <span @click="deleteTrip" v-if="!loading">Delete Trip</span>
                    <Loader :scale="0.3" v-else/>
                </div>
            </div>
        </template>
    </SidebarItem>
</template>

<script>
    import timeSince from '../../services/TimeDifferenceService';
    import SidebarItem from './SidebarItem';
    import {deleteTrip} from '../../services/TripService';
    import Loader from '../Loader';
    import Copy from '../Copy';

    export default {
        name: 'Trip',
        components: {Copy, Loader, SidebarItem},
        props: {
            trip: Object,
        },
        data() {
            return {
                loading: false,
            }
        },
        methods: {
            deleteTrip() {
                this.loading = true;
                deleteTrip(this, this.trip.id, () => {
                    this.loading = false;
                });
            },
            timeSince(date) {
                return timeSince(date);
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";

    .trip {
        .trip__info {
            margin-left: 18px;
            margin-top: 6px;
            text-overflow: "..";
            white-space: nowrap;
            overflow: hidden;
            display: block;

            .info__name {

                font-weight: bold;
                color: $color-light;
                text-transform: capitalize;
            }

            .info__tags {
                display: flex;

                .tag {
                    color: $color-light-2;
                    margin-right: 8px;
                    font-size: 14px;
                }
            }
        }


    }


    .dark {
        .trip {
            .trip__info {
                .info__name {
                    color: $color-dark;
                }

                .info__tags {
                    .tag {
                        color: $color-dark-1;
                    }
                }
            }
        }
    }
</style>
