<template>
    <div class="user">
        <p class="user__name">
            {{user.displayName}}
        </p>
        <UserStats :userId="user.uid" v-if="user"/>
        <router-link tag="div" class="user__settings background two" to="/settings">
            <font-awesome-icon :icon="['fas', 'cog']"/>
        </router-link>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import Loader from '../Loader';
    import UserStats from '../UserStats';

    export default {
        name: 'User',
        components: {UserStats, Loader},
        computed: {
            ...mapState(['user']),
        },
        data() {
            return {
                loading: false,
                userRatingInfo: {
                    tripRating: null,
                    sitRating: null,
                    tripRatingCount: null,
                    sitRatingCount: null,
                },
            }
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";
    @import "../../css/components/background";

    .user {
        position: relative;
        flex-shrink: 0;
        border-bottom: 1px solid $border-light;
        padding: 12px 16px;

        .user__settings {
            $size: 38px;
            position: absolute;
            text-align: center;
            width: $size;
            height: $size;
            line-height: $size;
            top: 4px;
            right: 10px;
            font-size: 20px;
            border-radius: 50%;
            cursor: pointer;

            svg {
                transition: .4s;
            }

            &:hover {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        p {
            margin: 0;
        }

        .user__name {
            font-size: 24px;
            color: $color-light;
            font-weight: 500;
            text-overflow: "..";
            white-space: nowrap;
            overflow: hidden;
            display: block;
            max-width: calc(100% - 32px);
        }

        .user__living {
            font-size: 14px;
            color: $color-light-1;
            font-weight: bold;
        }
    }

    .dark {
        .user {
            border-bottom: 1px solid $border-dark;

            .user__name {
                color: $color-dark;
            }

            .user__living {
                color: $color-dark-1;
            }
        }
    }
</style>
