<template>
    <div class="toaster" :class="toaster.classes" @click="$emit('remove', toaster)">
        <div class="title">
            <div class="icon">
                <font-awesome-icon :icon="toaster.icon"/>
            </div>
            {{toaster.title}}
        </div>
        <div class="content">
            {{toaster.content}}
        </div>
        <div class="timer">
            <div class="progress" :style="progressAnimation"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Toaster',
        props: {
            toaster: Object,
        },
        computed: {
            progressAnimation() {
                return {
                    'animation-duration': `${this.toaster.timeout}ms`,
                }
            }
        },
    }
</script>

<style scoped lang="scss">
    @import "../../css/variables";

    .toaster {
        margin: 0 auto 16px auto;
        align-self: center;
        position: relative;
        width: 100%;
        background-color: black;
        border-radius: $border-radius-1;
        padding: 12px 24px;
        overflow: hidden;
        box-shadow: $shadow-light-1;
        cursor: pointer;

        .title {
            display: flex;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                width: 20px;
            }
        }

        .content {
            font-size: 0.8rem;
        }

        .timer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;

            .progress {
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                background-color: white;
                animation-name: progress;
                animation-fill-mode: forwards;
            }
        }

        &.toaster-success {
            background-color: $secondary;
            font-weight: 600;
            color: $primary;

            .progress {
                background-color: $primary;
            }
        }

        &.toaster-error {
            background-color: $primary-red;
            color: white;
            font-weight: 600;

            .progress {
                background-color: white;
            }
        }
    }

    @keyframes progress {
        0% {
            right: 100%;
        }
        100% {
            right: 0;
        }
    }
</style>
