<template>
    <div class="toasters">
        <div class="toaster-list">
            <transition-group name="fade" mode="in-out">
                <Toaster @remove="value => toasters.splice(toasters.indexOf(value),1)" :toaster="toaster" v-for="toaster in toasters" :key="toaster.timestamp"/>
            </transition-group>
        </div>
    </div>
</template>

<script>
    import Toaster from './Toaster';
    export default {
        components: {Toaster},
        props: {
            name: {
                required: true
            }
        },
        mounted() {
            this.$toasters[this.name] = this;
        },
        data() {
            return {
                toasters: [],
            }
        },
        methods: {
            addToaster(content, classes, icon, title, timeout = 15000) {
                const toaster = {timestamp: Date.now(), content, classes, icon, title, timeout};
                setTimeout(() => {
                    this.toasters.splice(this.toasters.indexOf(toaster), 1);
                }, timeout);
                this.toasters.push(toaster);
            },
            success(content, timeout) {
                this.addToaster(content, ['toaster-success'], ['fas', 'check'], 'Success!', timeout)
            },
            error(content, timeout) {
                this.addToaster(content, ['toaster-error'], ['fas', 'times'], 'Whoops!', timeout)
            }
        }
    }
</script>

<style lang="scss">
    .toasters {
        position: fixed;
        left: 12px;
        bottom: 0;
        z-index: 1000;
        padding-top: 20px;
    }
</style>
