<template>
    <div id="app" :class="{dark:dark}">
        <div class="appContent">
            <router-view/>
            <toasters name="main"/>
            <Modal v-if="locationModal" @close="getLocation">
                <template>
                    <div class="locationModal">
                        <img class="location-img" src="./assets/undraw_my_location_f9pr.svg" alt="location-img"/>
                        <p class="location-text">Tripsitter needs access to your location to function properly</p>
                        <span class="button main" @click="getLocation">Okay</span>
                    </div>
                </template>
            </Modal>
        </div>
    </div>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import 'firebase/auth';
    import firebase from 'firebase/app';
    import toasters from './components/Toasters/Toasters'
    import Sockets from "@/mixins/Sockets";
    import Modal from "@/components/Modal";

    export default {
        components: {
            Modal,
            toasters,
        },
        data() {
            return{
                locationModal: false,
            }
        },
        mixins: [Sockets],
        mounted() {
            this.$geoService.hasPermission().then((permission) => {
                if(!permission){
                    this.locationModal = true;
                } else {
                    this.getLocation();
                }
            });
            this.$localDataService.getTheme().then((res) => {
                this.setDark(res);
            });
            this.$localDataService.getLocale().then((res) => {
                this.$i18n.locale = res;
            });
            firebase.auth().onAuthStateChanged(async (user) => {
                if (user) {
                    this.setUser({displayName: user.displayName || user.email, email: user.email, uid: user.uid});
                }
            });
        },
        methods: {
            ...mapMutations(['setDark', 'setLocation', 'setUser']),
            getLocation() {
                this.locationModal = false;
                this.$geoService.getLocation().then((position) => {
                    this.setLocation(position.coords);
                }).catch((e) => {
                    this.$toasters['main'].error(e);
                });
            },
        },
        computed: {
            ...mapState(['dark']),
        },
    };
</script>

<style lang="scss" scoped>

</style>

<style lang="scss">
    @import "css/variables";
    @import "css/components/button";

    .locationModal{
        .location-img{
            max-height: 300px;
        }
        .location-text{
            margin-bottom: 32px;
        }
    }

    .no_scrollbar {
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    #app, body, .appContent, html {
        height: 100%;
        margin: 0;
        user-select: none;
    }

    #app{
        background: $background-light;
        color: $color-light;
        overflow-y: auto;
    }

    .appContent {
        width: 100%;
    }

    .appContent, input, textarea {
        font-family: "Montserrat", sans-serif;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    *:focus {
        outline: none;
    }

    #app.dark {
        background: $background-dark;
        color: $color-dark;
    }

</style>
