<template>
    <div class="foreigner" v-else>
        <Loader v-if="loading" />
        <Sit :sit="sit" v-else-if="sit"></Sit>
        <div class="sit__new_sit" @click="addSit" v-else>
            Create Sit
        </div>
    </div>
</template>

<script>
    import Sit from '../Trip/Sit';
    import Loader from '../Loader';
    export default {
        name: 'Foreigner',
        components: {Loader, Sit},
        props: {
            trip: Object,
        },
        data() {
            return {
                loading: false,
                sit: null
            }
        },
        methods: {
            getSit() {
                this.loading = true;
                this.$apiService.getTripSit(this.trip.id).then((sit) => {
                    this.sit = sit;
                }).finally(() => {
                    this.loading = false;
                });
            },
            addSit() {
                this.$apiService.AddSit(this.trip.id).then((res) => {
                    this.$eventBus.$emit('sit', {id: res.id, trip: this.trip});
                    res.trip = this.trip;
                    this.$socket.emit('add-sit', res);
                    this.$router.push(`/sit/${res.id}`);
                });
            },
        },
        watch: {
            trip: {
                handler: 'getSit',
                immediate: true,
            },
        }
    }
</script>

<style scoped lang="scss">
    @import "../../css/variables";

    .foreigner {
        .sit__new_sit {
            background: $background-light;
            box-shadow: $shadow-light;
            flex-basis: 400px;
            flex-grow: 1;
            margin: 16px;
            border-radius: $border-radius-1;
            padding: 24px 16px;
            text-align: center;
            cursor: pointer;
            font-size: 32px;
            font-weight: bold;
        }
    }

    .dark {
        .foreigner {
            .sit__new_sit {
                background: $background-dark-1;
                box-shadow: $shadow-dark;
            }
        }
    }
</style>
