<template>
    <router-link tag="div" :to="`/sit/${sit.id}`" class="chat has_options_menu">
        <span class="chat__identifier" :style="unqiueBackground(sit.id)">
        </span>
        <div class="sit__info">
            <span class="info__time" v-if="sit.lastMessage === 0">No Activity Yet</span>
            <span class="info__time" v-else>Active {{timeSince(sit.lastMessage)}} ago</span>
            <span class="info__id">#{{sit.id}}</span>
        </div>
        <Options class="menu">
            <template v-slot:dropdown>
                <div class="dropdown">
                    <div class="option">
                        <span @click="deleteSit">Delete Sit</span>
                    </div>
                </div>
            </template>
        </Options>
    </router-link>
</template>

<script>
    import timeSince from '../../services/TimeDifferenceService';
    import {getRandomGradient} from "../../services/RandomColorService";
    import Options from "../Options";
    import {deleteSit} from "../../services/SitService";

    export default {
        name: 'Chat',
        components: {Options},
        props: {
          sit: Object,
        },
        methods: {
            timeSince(time) {
                return timeSince(time);
            },
            unqiueBackground(id) {
               return  {
                   'background': getRandomGradient(id),
               };
            },
            deleteSit(){
                deleteSit(this, this.sit);
            }
        },
    };
</script>

<style scoped lang="scss">
    @import '../../css/variables';

    .chat {
        background: $background-light;
        box-shadow: $shadow-light;
        flex-basis: 250px;
        max-width: 300px;
        flex-grow: 1;
        margin: 8px;
        border-radius: $border-radius-1;
        padding: 24px 32px;
        text-align: center;
        cursor: pointer;
        flex-direction: row;
        display: flex;

        .chat__identifier {
            display: block;
            $size: 48px;
            width: $size;
            flex-shrink: 0;
            height: $size;
            border-radius: 50%;
        }



        .sit__info {
            margin-left: 16px;
            text-align: left;
            .info__time {
                color: $color-light-1;
                display: block;
                font-size: 16px;
                font-weight: bold;
                align-self: center;
            }
        }
    }

    .dark{
        .chat{
            background: $background-dark-1;
            box-shadow: $shadow-dark;
            .sit__info{
                .info__time{
                    color: $color-dark-1;
                }
                .info__id{
                    color: $color-dark-2;
                }

            }
        }
    }
</style>
