<template>
    <div class="sits no_scrollbar">
        <Loader v-if="loading"/>
        <div class="no-sits" v-else-if="sits.length === 0">
            <Empty :has_text="false" :max-width="200">
                <template>
                    <h3 class="empty-text">
                        No sits yet, wait for someone to create a sit or share this trip by linking:
                        <Copy :copy="`https://tripsitter.dev${$route.path}`">
                            <span class="share">
                                https://tripsitter.dev{{$route.path}}
                            </span>
                        </Copy>
                    </h3>
                </template>
            </Empty>
        </div>
        <Sit v-for="sit in sits" :sit="sit" v-else/>
    </div>

</template>

<script>
    import Empty from "../Empty";
    import Sit from "./Sit";
    import Loader from "../Loader";
    import Copy from "../Copy";

    export default {
        name: 'Sits',
        components: {Copy, Loader, Sit, Empty},
        props: {
            tripId: String,
        },
        data() {
            return {
                sits: [],
                loading: false,
            }
        },
        methods: {
            getSits() {
                this.loading = true;

                this.$apiService.getTripsSits(this.tripId).then((sits) => {
                    this.sits = sits;
                }).finally(() => {
                    this.loading = false;
                });
            },
        },
        created() {
            this.$eventBus.$on('sit', (sit) => {
                if (sit.trip.id == this.tripId) {
                    this.sits.push(sit);
                }
            });
            this.$eventBus.$on('cancel_sit', (sitId) => {
                if (this.sits.findIndex((s) => s.id === sitId) >= 0) {
                    this.sits.splice(this.sits.findIndex((s) => s.id === sitId), 1);
                }

            });
        },
        watch: {
            tripId: {
                handler: 'getSits',
                immediate: true,
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../css/variables";

    .sits {
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 12px 16px 32px 16px;

        .no-sits {
            width: 100%;
            margin-top: 16px;
        }

        .empty-text {
            text-align: center;
            max-width: 400px;
            margin: 16px auto 0 auto;
            font-weight: normal;

            .share {
                display: inline-block;
                margin-top: 4px;
                border-radius: $border-radius-1;
                background: rgba(255, 255, 255, .4);
                padding: 8px;
                cursor: pointer;
            }
        }
    }
</style>
