<template>
    <div class="substance_select" :class="{disabled: !enabled}">
        <Dropdown :enabled="enabled" ref="dropdown">
            <template v-slot:dropdown_activator>
                <div class="select__tag button main small">
                    {{$t(`substances.${substance}`)}}
                </div>
            </template>
            <template v-slot:dropdown>
                <div class="dropdown">
                    <div class="option" v-for="substance in getOtherSubstances()" @click="select(substance)">
                        {{$t(`substances.${substance.name}`)}}
                    </div>
                </div>
            </template>
        </Dropdown>
    </div>
</template>

<script>
    import {Substances} from '../../Classes/DefaultData';
    import Dropdown from "../Dropdown";

    export default {
        name: 'SubstanceSelect',
        components: {Dropdown},
        props: {
            selected: String,
            enabled: Boolean,
        },
        methods: {
            getOtherSubstances() {
                return Object.keys(Substances).map((s) => {
                    return {name: s, selected: (this.substance === s)};
                }).filter((s) => !s.selected);
            },
            select(substance) {
                this.$emit('update', substance.name);
                this.substance = substance.name;
                this.$refs.dropdown.toggleDropdown();
            },
        },
        computed: {
            substance() {
                return this.selected;
            },
        },
    };
</script>

<style scoped lang="scss">
    @import '../../css/variables';
    @import "../../css/components/button";

    .disabled.substance_select {

        .select__tag {
            cursor: default;

            .select__dropdown {
                .dropdown__option {
                    cursor: default;
                }
            }
        }
    }

    .substance_select {
        position: relative;
        font-weight: bold;
        width: max-content;
        .select__tag {
            color: $secondary;
            font-size: 22px;
            cursor: pointer;
            padding: 0;
        }
        .dropdown{
            left: 0;
        }
    }
</style>
