<template>
    <Navbar :loading="loading">
        <template>
            <div class="navbar__info">
                <div class="status" :class="{open: trip.open}" @click="close">
                    <span class="open">Open</span>
                    <span class="closed">Closed</span>
                </div>
                <div class="navbar__first">
                    <div class="navbar__top">
                        <div class="info__name">
                            <input class="navbar__name" placeholder="Trip name" v-model="trip.name" :readonly="!trip.open || !owner"
                                   @change="update"/>
                        </div>
                        <div class="info__location" v-if="false">
                            {{trip.longitude}}
                            {{trip.latitude}}
                        </div>
                    </div>
                    <SubstanceSelect class="top__select" :selected="trip.substance" @update="updateSubstance"
                                     v-if="trip.substance" :enabled="trip.open && this.owner"/>
                    <div class="info__description">
                            <textarea v-model="trip.description" placeholder="Trip Description"
                                      @input="update" class="no_scrollbar" :readonly="!trip.open || !owner"
                                      v-if="more">
                            </textarea>
                        <div class="more-container">
                            <font-awesome-icon @click="more = !more" :icon="['fas', 'angle-down']"
                                               :class="{more: more}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar__menu">
                <div class="menu__options">
                    <Dropdown>
                        <template v-slot:dropdown_activator>
                            <div class="navbar__options_circle">
                                <font-awesome-icon :icon="['fas', 'ellipsis-h']"/>
                            </div>
                        </template>
                        <template v-slot:dropdown>
                            <div class="dropdown">
                                <div class="option">
                                    <Copy :copy="`https://tripsitter.dev/trip/${trip.id}`">
                                        <span>Copy link</span>
                                    </Copy>
                                </div>
                                <div class="option">
                                    <span @click="deleteTrip" v-if="!deleteLoading">Delete Trip</span>
                                    <Loader :scale="0.3" v-else/>
                                </div>
                            </div>
                        </template>
                    </Dropdown>
                </div>
            </div>
        </template>
    </Navbar>
</template>

<script>
    import SubstanceSelect from './SubstanceSelect';
    import Navbar from "../Navbar";
    import Dropdown from "../Dropdown";
    import {deleteTrip} from "../../services/TripService";
    import Loader from "../Loader";
    import Copy from "../Copy";

    export default {
        name: 'TripNavigation',
        components: {Copy, Loader, Dropdown, Navbar, SubstanceSelect},
        props: {
            trip: Object,
            owner: Boolean,
            loading: Boolean,
        },
        data() {
            return {
                updateTimer: 0,
                options: false,
                more: false,
                deleteLoading: false,
            };
        },
        methods: {
            updateSubstance(substance) {
                this.update();
                this.trip.substance = substance;
            },
            update() {
                clearTimeout(this.updateTimer);
                if ((this.trip.name.length > 0 && this.trip.name.length <= 32) && this.trip.description.length <= 256) {
                    this.updateTimer = setTimeout(() => {
                        this.$apiService.UpdateTrip(this.trip).then(() => {
                            this.$eventBus.$emit('update_trip', this.trip);
                            this.$toasters['main'].success('Updated trip');
                        }).catch(() => {
                            this.$toasters['main'].error('Could not update trip');
                        });
                    }, 3000);
                } else {
                    this.$toasters['main'].error('Could not update trip, provided information is wrong');
                }
            },
            close() {
                if (this.owner) {
                    this.trip.open = !this.trip.open;
                    this.update();
                }
            },
            deleteTrip() {
                this.deleteLoading = true;
                deleteTrip(this, this.trip.id, () => {
                    this.deleteLoading = false;
                });
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";
    @import "../../css/components/navbar";

    textarea, input{
        &::-webkit-input-placeholder{
            color: rgba(255,255,255,.8);
        }
    }

    textarea[readonly], input[readonly] {
        cursor: default;
    }

    .navbar__outside {
        .navbar__inside {

            .loader {
                padding-top: 8px;
            }

            .navbar__content {
                display: flex;

                .navbar__info {
                    flex-grow: 1;
                    display: flex;
                    position: relative;

                    .status {
                        display: flex;
                        margin: 12px 16px 0 0;
                        box-sizing: border-box;
                        border-radius: $border-radius-1;
                        flex-direction: column;
                        align-self: start;
                        color: $secondary;
                        font-weight: bold;
                        cursor: pointer;

                        span {
                            flex-grow: 1;
                            font-size: 14px;
                            transition: .4s;
                            padding: 6px 12px;
                            background: $secondary;
                            color: white;
                        }

                        &.open {
                            .closed {
                                opacity: .5;
                            }

                            .open {
                                opacity: 1;
                            }
                        }

                        .closed {
                            opacity: 1;
                            border-bottom-right-radius: 0.3em;
                            border-bottom-left-radius: 0.3em;
                        }

                        .open {
                            border-top-right-radius: 0.3em;
                            border-top-left-radius: 0.3em;
                            opacity: .5;
                        }
                    }

                    .navbar__first {
                        flex-grow: 1;

                        .top__select {
                            margin-top: 4px;
                        }

                        .navbar__top {
                            display: flex;
                            color: $secondary;
                            padding-top: 12px;
                            align-items: center;

                            div:not(:last-of-type) {
                                margin-right: 16px;
                            }

                            .info__location {
                                display: flex;
                            }

                            .info__name {
                                display: flex;
                                padding: 0 0;

                                svg.navbar__name {
                                    margin-right: 4px;
                                    font-size: 22px;
                                    margin-top: 4px;
                                }

                                .navbar__name {
                                    max-width: 200px;
                                    font-size: 18px;
                                    font-weight: bold;
                                    background: $secondary;
                                    display: block;
                                    border-radius: 70px;
                                    text-align: center;
                                    padding: 2px;
                                    border: 0;
                                    transition: .4s;
                                    color: white;
                                    opacity: .75;

                                    &:focus, &:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    .info__description {
                        .more-container {
                            width: 100%;
                            padding: 4px 0 12px 0;

                            svg {
                                cursor: pointer;
                                background: $secondary;
                                color: white;
                                border-radius: 70px;
                                padding: 4px 12px;
                                transition: .4s;
                            }

                            svg.more {
                                transform: rotate(180deg);
                            }
                        }

                        textarea {
                            margin: 6px 0 6px 0;
                            max-height: 50px;
                            width: 100%;
                            font-weight: bold;
                            background: transparent;
                            background: $secondary;
                            color: white;
                            border-radius: $border-radius-1;
                            padding: 4px 8px;
                            border: none;
                            resize: none;
                            transition: .4s;
                            opacity: .75;

                            &:focus, &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .navbar__menu {
                margin-left: auto;
                margin-right: 8px;
                display: flex;
                margin-top: 8px;

                .menu__options {
                    position: relative;
                    height: max-content;

                    .options__menu {
                        position: absolute;
                        top: 100%;
                        right: 0;
                        display: block;
                        background: white;
                        padding: 8px 0;
                        border-radius: $border-radius;
                        box-shadow: $shadow-light;

                        span {
                            cursor: pointer;
                            transition: .4s;
                            display: block;
                            padding: 6px 12px;
                            white-space: nowrap;

                            &:hover {
                                background: rgba(0,0,0,.12);
                            }
                        }
                    }
                }

                .navbar__options_circle{
                    $size: 54px;
                    width: $size;
                    color: $secondary;
                    height: $size;
                    line-height: $size;
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    font-size: 32px;
                    transition: .4s;
                    border-radius: 50%;
                    align-self: center;

                    &:hover {
                        background: rgba(0,0,0,.08);
                    }
                }
            }
        }
    }
</style>
