<template>
    <div class="locale-changer">
        <Dropdown ref="dropdown">
            <template v-slot:dropdown_activator>
                <span class="locale-change__selected button main bold small">
                    {{findLangName($i18n.locale)}}
                    <font-awesome-icon :icon="['fas', 'caret-down']"/>
                </span>
            </template>
            <template v-slot:dropdown>
                <div class="dropdown">
                    <div class="option"
                         v-on:click="updateLang(lang.code)"
                         v-for="lang in langNames.filter((l) => l.code !== $i18n.locale)">
                        {{lang.name}}
                    </div>
                </div>
            </template>
        </Dropdown>
    </div>
</template>

<script>
    import Dropdown from '../Dropdown';

    export default {
        name: 'locale-changer',
        components: {Dropdown},
        data() {
            return {
                langNames: [{name: 'Dutch', code: 'nl'}, {name: 'English', code: 'en'}],
                currentLocale: {},
            };
        },
        methods: {
            findLangName(lang) {
                const langInfo = this.langNames.find((l) => l.code === lang);
                if (!langInfo) {
                    return 'English';
                }
                return langInfo.name;
            },
            updateLang(code) {
                this.$i18n.locale = code;
                this.$localDataService.updateLocale(code);
                this.$refs.dropdown.toggleDropdown();
            },
        },
    };
</script>

<style scoped lang="scss">
    @import "../../css/variables";
    @import "../../css/components/button";

    .locale-changer {
        margin: 8px 0;
        position: relative;

        .dropdown {
            left: 0;
        }
    }
</style>
